<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/font.css">
	<link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/loaders.css">
	<link rel="stylesheet" type="text/css" class="MAIN_STYLESHEET" href="assets/css/main_ar.css">
	<title>DR Aoun (Login)</title>
	<script src="assets/js/include/JQuery.js"></script>
	<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
	<script src="assets/js/include/AppModules.js"></script>
	<script src="assets/js/include/HttpRequest.js"></script>
	<script src="assets/js/include/Models.js"></script>
	<script src="assets/js/include/UseModels.js"></script>
</head>
<body>




