<div class="container-fluid" id="create_center_to_client_selling_invoices_container">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.sell_products.sectionTitle %></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div class="table-nav">
			<div class="row gx-2 gy-2">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                    }) -%>
				</div>
			</div>
		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="tableElement">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card-02 hover-shadow h-100 w-100 inline-flex">
					<div class="card-header" style="background-image: url('http://megastoretech.com/uploads/users/1/Products/Images/629b58739759f7.21976518.jpg');">
						
					</div>
					<div class="text-21 py-0_5 px-1">NewAir, AC-12200E, Compact Portable Air Conditioner and Fan, 12,000 BTU, 425 Square Foot Effective Range, White</div>
					<div class="card-body">
						<div class="list-04">
							<div href="#" class="list-item">
								Desription: 
								<span class="text-04">
									We don't know when or if this item will be back in stock.
								</span>
							</div>
							<div href="#" class="list-item">
								Prix: <span class="text-04">517.00 DA</span>
							</div>
							<div class="list-item">
								Quantity: <span class="text-04">(5)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<script>

$(function()
{

var page_container = $('#create_center_to_client_selling_invoices_container');

var ERROR_BOX = page_container.find('#ERROR_BOX');

var pagination = page_container.find('#pagination');
var tableElement = page_container.find('#tableElement');

var search_btn = page_container.find('#search_btn')
var search_input = page_container.find('#search_input')
var date_start_input = page_container.find('#date_start_input')
var date_end_input = page_container.find('#date_end_input')

date_start_input.val(CURRENT_DATE)
date_end_input.val(CURRENT_DATE)
// tableElement click
tableElement.on('click', async e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'ADD_TO_CART' )
    {
        var parent = target.closest('[data-role="row"]');
        OrderCartDialog({
            administration_id: USER_CONFIG.administration.clinicId,
            id: parent.data('id'),
            image: parent.data('image'),
            name: parent.data('name'),
            price: parent.data('price'),
            totalQuantity: parent.data('quantity')
        }, response =>
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            displayAll({
                method_type: 'center_local_search',
                administration_id: USER_CONFIG.administration.clinicId,
                query: search_input.val(),
            })
        });
    }
});
// search
search_btn.on('click', async e =>
{
    displayAll({
        method_type: 'center_local_search',
        administration_id: USER_CONFIG.administration.clinicId,
        query: search_input.val(),
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
        }
    })    
})
search_input.on('keyup', async e =>
{
    displayAll({
        method_type: 'center_local_search',
        administration_id: USER_CONFIG.administration.clinicId,
        query: search_input.val(),
    })    
})
// display all
displayAll({
    method_type: 'center_local_search',
    administration_id: USER_CONFIG.administration.clinicId,
    query: search_input.val(),
})
async function displayAll(params)
{
    tableElement.html('')
    SectionLoader(tableElement)
    if ( params.method_type == 'center_local_search' )
        var res = await PRODUCT_MODEL.center_local_search(params)
    
    SectionLoader(tableElement, '')

    if ( res.code == 404 ) return

    var data = res.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        var productImageUrl = (v.image) ? imgFallback(v.image.url) : imgFallback('')
        html += `<div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-02 hover-shadow h-100 w-100 inline-flex" data-role="row" data-id="${v.productId}" data-name="${v.productName}" data-price="${v.productPrice}" data-image="${productImageUrl}" data-quantity="${v.productQuantity}">
                        <div class="card-header" data-role="ADD_TO_CART" style="cursor:pointer;background-image: url('${productImageUrl}');">
                            
                        </div>
                        <div class="text-03 py-2 px-2">${ strSnippet(v.productName, 20) }</div>
                        <div class="card-body">
                            <div class="list-04">
                                <div class="list-item">
                                    <span class="text-04">
                                        ${ strSnippet(v.productDesc, 20) }
                                    </span>
                                </div>
                                <div class="list-item">
                                    ${FUI_DISPLAY_LANG.views.pages.global.text9}: <span class="text-success">${v.productPrice} </span>${CURRENCY.dzd}
                                </div>
                                <div class="list-item">
                                    ${FUI_DISPLAY_LANG.views.pages.global.text10}: <span class="text-success">(${v.productQuantity}) </span>
                                </div>
                                <div class="list-item">
                                    <button class="btn-03 w-100 h-auto py-3" data-role="ADD_TO_CART">
                                        ${FUI_DISPLAY_LANG.views.pages.global.text11}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>PAG_SEP`;	
    });
    // add html
    var options = {
        data: html.split('PAG_SEP')
    };
    new SmoothPagination(pagination, tableElement, options);
}
// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        if ( check.is(':checked') )
            list.push({ productId: check.data('productid') });
    }

    return list;
}

})

</script>