<div class="position-fixed bottom-0 start-0 w-100" style="z-index: 2000;">
	<div aria-live="polite" aria-atomic="true" class="position-relative">
		<div class="toast-container position-absolute bottom-0 start-0 p-3" style="" id="toastContainer">
			<!--
			<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
				<div class="toast-header">
					<img src="src/assets/img/utils/notify.png" style="width: 15px; height:15px;" class="rounded me-2" alt="...">
					<strong class="me-auto">رسالة جديدة</strong>
					<small class="text-muted">الآن</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body text-align-r">
					
				</div>
			</div>
			-->
		</div>
	</div>
</div>