<div class="chat-private-conversation-dialog dialog-1 pointer">

    <div class="chat-private-conversation-dialog-header dialog-1-header">
        <div class="dialog-1-close-button dialog_close_button">
            <i class="xfb xfb-close-sm-thin"></i>
        </div>
        <div class="row gx-0 position-absolute start-0" style="width:280px;">
            <div class="col-2">
                <img src="../assets/img/utils/user.png" class="width-32px height-32px rounded-circle chat_private_conversation_avatar" alt="">
            </div>
            <div class="col d-flex align-items-center">
                <span class="fw-500 fs-15 chat_private_conversation_user_name">Abdennour Adouani</span>
            </div>
        </div>
    </div>

    <div class="chat-private-conversation-dialog-body dialog-1-body chat_private_conversation_dialog_body d-flex align-items-center p-0">

        <div class="chat_private_conversation_dialog_body_contents d-none w-100" style="align-items: flex-end; flex-direction: column; overflow-y:auto;overflow-x: hidden; max-height: 347px; padding: 0 5px;"></div>

        <p class="fw-200 fs-20 has-text-centered w-100 chat_private_conversation_dialog_body_empty_message"><%= UI_DISPLAY_LANG.views.pages.global.text60 %></p>

        <!-- <div class="chat-private-conversation-message message-received">
            <div class="row">
                <div class="col-2" style="max-width: 11%;">
                    <img src="../assets/img/utils/user.png" class="width-28px height-28px rounded-circle" alt="">
                </div>
                <div class="col">
                    <div class="chat-private-conversation-message-content">
                        مرحبا
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-private-conversation-message message-sent">
            <div class="row">
                <div class="col">
                    <div class="chat-private-conversation-message-content">
                        مرحبا
                    </div>
                </div>
            </div>
        </div> -->

    </div>

    <div class="gallery-grid mt-2 d-none chat_private_conversation_dialog_media_preview_gallery" style="max-width: 200px; margin-left: auto;">
                
    </div>

    <div class="chat-private-conversation-dialog-footer py-2" data-perm="send_chat_private_conversation_messages">

        <div class="chat_private_conversation_dialog_emoji_picker_container"></div>

        <div class="d-flex align-items-center">
            <div class="chat-private-conversation-dialog-input-group px-2 w-100">
                <div class="chat-private-conversation-dialog-emojy-button chat_private_conversation_dialog_emojy_button">
                    <i class="xfb xfb-emoji-3" style="filter: var(--filter-accent);"></i>
                </div>
                <div class="chat-private-conversation-dialog-input js_has_area_placeholder chat_private_conversation_dialog_input" contenteditable="" area-placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder13 %>"></div>
            </div>
            
            <div class="width-50px d-flex justify-content-center align-items-center cursor-pointer chat_private_conversation_dialog_add_image_button">
                <img src="../assets/img/icons/1.png" alt="">
            </div>
            <input type="file" name="" class="d-none" id="" multiple accept="image/*">

        </div>

    </div>

</div>