<div class="overlay-fixed d-flex align-items-center" id="create_image_slider_dialog" style="z-index: 2000;">

    <button class="image-slider-nav-button top-5 right-5" id="closeBTN">
        <i class="fas fa-times"></i>
    </button>

    <div class="container h-100 d-flex justify-content-center align-items-center" id="images_container">
        <img src="" class="img-fluid h-100" id="current_image_element" alt="">
    </div>

    <button class="image-slider-nav-button image-slider-nav-next" id="image_slider_nav_next">
        <i class="fas fa-chevron-right"></i>
    </button>
    <button class="image-slider-nav-button image-slider-nav-previous" id="image_slider_nav_previous">
        <i class="fas fa-chevron-left"></i>
    </button>

</div>