<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" id="modalDialogBoxTogglerBTN" data-bs-target="#modalDialogBox">
  	Launch static backdrop modal
</button>
<div class="modal fade" style="background: rgba(255, 255, 255, .5); z-index: 3000;" id="modalDialogBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="font-family: 'Roboto';">
		<div class="modal-content soft-shadow" style="border: 1px solid rgb(184 180 191);">
			<div class="modal-header">
				<h5 class="modal-title" id="mbdTitle" style="font-size: 18px; letter-spacing: 1px; font-weight: 200;"></h5>
			</div>
			<div class="modal-body" id="mdbBody" style="font-weight: 300; font-size: 15px;">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" style="font-weight: 200;font-size: 14px;">
					<%= UI_DISPLAY_LANG.views.dialogs.dialog_box.btn01 %>
				</button>
			</div>
		</div>
	</div>
</div>