<div class="has-direction-locale px-3 py-3 h-100 position-relative">

    <div class="overflow-auto has-text-centered max-height-100 max-width-100" style="padding-top: 4em;">
        <img src="../assets/img/utils/placeholder.jpg" class="user-select-none" alt="" id="image_cropper_dialog__image">
    </div>

</div>