<div class="overlay flex flex-center" id="image_cropper_dialog" style="transition: none; z-index: 2000;">
	<div class="wrapper app-block overlay-content container block w-100 h-100" style="max-width: none;">
		<div class="block-header">
			<button class="btn-close block-btn-close" id="closeBTN"></button>
		</div>
		<div class="block-body overflow-x-hidden overflow-y-auto h-100 max-height-85 has-text-centered" style="font-weight: 200;">
			<!-- <img src="../assets/img/utils/placeholder.jpg" id="image_element" class="img-fluid" alt=""> -->
		</div>
        <div class="block-footer">
			<div class="btn-group btn-group-sm">
                <button class="btn btn-success" id="submitBTN" style="margin-right: .5em">
                    <%= UI_DISPLAY_LANG.views.pages.global.ok_button %>
                </button>
            </div>
		</div>
	</div>
</div>