<div class="ringing-bell-dialog map-dialog position-fixed" id="map_dialog" style="top: 50%; left:50%; transform: translate(-50%, -50%); height: 600px; min-width:700px;">

    <div class="ringing-bell-header cursor-auto">

        <a href="#" class="ringing-bell-close-button" id="closeBTN"><%= UI_DISPLAY_LANG.views.pages.global.close_button %></a>

    </div>

    <div class="ringing-bell-body h-100">

        <div id="mapElement" class="h-100"></div>

    </div>

</div>