<div class="modal-01" id="orderCartDialog" style="background-color: rgba(0, 0, 0, 0);">
	<div class="wrapper-2 pt-5 pb-2 d-flex flex-column container bg-white border shadow" style="max-width:500px;">
		<div class="no-pointer pt-5">
			<div class="mb-3 text-center">
				<img src="" id="PRODUCT_IMAGE" class="img-04" alt="">
			</div>
			<div class="text-center">
				<div class="text-1 mb-1" id="PRODUCT_NAME">
					
				</div>
				<div class="text-2 text-muted">
					<span id="PRODUCT_PRICE" class="text-success"></span>
				</div>
			</div>
		</div>
		<div class="">
			<button id="GO_BACK_BTN" class="btn-1 fw-500 w-100 rounded-0 mt-3 text-color-27">
				<%= UI_DISPLAY_LANG.views.dialogs.orderCartDialog.btn01 %>
			</button>
		</div>
		<div class="radio-btn-1 mt-3">
			<button class="radio-minus-btn disabled" id="MINUS_QUANTITY_BTN">
				<span class="no-pointer">-</span>
			</button>
			<input type="number" step="any" min="1" class="radio-input border-top border-bottom" value="1" id="QUANTITY_INPUT">
			<button class="radio-plus-btn" id="PLUS_QUANTITY_BTN">
				<span class="no-pointer">+</span>
			</button>
		</div>
		<div class="mt-3">
			<button class="btn-2 rounded-0 border-0 w-100 fw-300" id="ADD_TO_CART_BTN">
				<%= UI_DISPLAY_LANG.views.dialogs.orderCartDialog.btn02 %>
			</button>
		</div>
	</div>
</div>