<div class="has-direction-locale px-3 py-3 h-100">

    <div class="h-100 pb-2">
        <iframe src="" id="preview_pdf_dialog__iframe" frameborder="0" class="w-100 h-100"></iframe>
    </div>

</div>