<div class="has-direction-locale px-3 py-3 h-100 position-relative overflow-x-hidden overflow-y-auto max-height-500px">

    <form id="set_order_global_settings_dialog__form">

        <div class="row gx-4 gy-4 mb-3">

            <div class="col-md-6">

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label146 %></label>
                    <input type="text" class="input-text input-text-outline" name="TVA" id="set_order_global_settings_dialog__form__TVA_input">
                </div>	

            </div>

        </div>

        <div class="">
            <button type="submit" class="btn btn-success d-block w-100 rounded-0">
                <%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>
            </button>
        </div>

    </form>

</div>