<div class="has-direction-locale px-3 py-3">

    <form>
    
        <div class="row gx-2 gy-5">

            <div class="col-lg-2 col-md-3 col-sm-12">
                <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-centers.template.ejs', {
                    componentId: 'filter',
                    selectId: 'center_select',
                    eventsReceiverId: 'private_appointments_container',
                }) -%>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-departments.template.ejs', {
                    componentId: 'filter',
                    selectId: 'department_select',
                    eventsReceiverId: 'private_appointments_container',
                }) -%>
            </div>

        </div>
    
    </form>

</div>