
<div class="window-dialog show" id="window_dialog">

    <div class="window-dialog-toolbar js_window_dialog_toolbar">

        <div class="window-dialog-toolbar-title js_window_dialog_toolbar_title">
            <span class="">Dialog</span>
        </div>

        <div class="window-dialog-toolbar-middle js_window_dialog_toolbar_middle">.</div>
        
        <div class="window-dialog-toolbar-action-buttons">
            
            <div class="window-dialog-toolbar-action-button window-dialog-toolbar-action-button-minimize-restore js_window_dialog_toolbar_action_button_minimize_restore">
                <div class="window-dialog-minimize-restore"></div>
            </div>

            <div class="window-dialog-toolbar-action-button window-dialog-toolbar-action-button-minimize js_window_dialog_toolbar_action_button_minimize">
                <div class="window-dialog-minimize"></div>
            </div>

            <div class="window-dialog-toolbar-action-button window-dialog-toolbar-action-button-maximize-restore js_window_dialog_toolbar_action_button_maximize_restore">
                <div class="window-dialog-restore">
                    <div class="window-dialog-restore-rectangle"></div>
                    <div class="window-dialog-restore-rectangle"></div>
                </div>
            </div>

            <div class="window-dialog-toolbar-action-button window-dialog-toolbar-action-button-maximize js_window_dialog_toolbar_action_button_maximize">
                <div class="window-dialog-maximize"></div>
            </div>

            <div class="window-dialog-toolbar-action-button window-dialog-toolbar-action-button-hover-close js_window_dialog_toolbar_action_button_close">
                <div class="window-dialog-close"></div>
            </div>
        </div>

    </div>

    <div class="window-dialog-body js_window_dialog_body h-100">

        

    </div>

</div>