<div id="<%= locals.componentId ? locals.componentId : 'add_to_your_post_component_' %>" class="d-inline">
    <div class="add-to-your-post-control js_add_to_your_post">
            
        <div class="add-to-your-post-control-actions">
            <a href="#" class="add-to-your-post-control-link"><%= UI_DISPLAY_LANG.views.pages.global.add_to_your_post %></a>
            <ul class="add-to-your-post-control-actions-list">
                <li class="js_add_to_your_post_control_action__add_media">
                    <img src="../assets/img/icons/1.png" alt="">
                </li>
            </ul>
        </div>

    </div>
</div>

<script>

    $(function()
    {

        const component = $(`#<%= locals.componentId ? locals.componentId : 'add_to_your_post_component_' %>`)
        const js_add_to_your_post = component.find('.js_add_to_your_post')

        const js_add_to_your_post_control_action__add_media = component.find('.js_add_to_your_post_control_action__add_media')

        // add media action
        js_add_to_your_post_control_action__add_media.off('click').on('click', async e =>
        {
            const onAction = new CustomEvent('add-to-your-post:action', {
                detail: {
                    id: component.attr('id'),
                    action: 'add-media'
                }
            })

            document.dispatchEvent(onAction)
        })

    })

</script>