<div class="global-notifications-area container" id="global_notifications_area">

    <div class="gna-header active" id="gna_header">
        <div class="gna-header-title" id="gna_header_title"></div>
        <div class="gna-header-nav" id="gna_header_search_button">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" enable-background="new 0 0 26 26" xml:space="preserve">
                <path d="M23.849,22.147l-5.218-5.217c-0.097-0.099-0.225-0.15-0.365-0.15H17.7c1.354-1.568,2.174-3.609,2.174-5.844
                C19.874,6,15.874,2,10.937,2C6,2,2,6,2,10.937c0,4.938,4,8.938,8.937,8.938c2.234,0,4.275-0.82,5.844-2.174v0.565
                c0,0.141,0.058,0.269,0.15,0.365l5.217,5.218c0.2,0.201,0.527,0.201,0.73,0l0.971-0.971C24.05,22.675,24.05,22.348,23.849,22.147z
                 M10.937,17.812c-3.798,0-6.875-3.076-6.875-6.875c0-3.798,3.077-6.875,6.875-6.875c3.799,0,6.875,3.077,6.875,6.875
                C17.812,14.735,14.735,17.812,10.937,17.812z"></path>
            </svg>
        </div>
        <div class="gna-header-close" id="gna_header_close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
        </div>
    </div>

    <div class="gna-search" id="gna_search_box">
        <div class="gna-search-back" id="gna_search_back">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" enable-background="new 0 0 26 26" xml:space="preserve">
                <path d="M7.756,1.935L6.75,2.94c-0.238,0.238-0.238,0.624,0,0.861L15.927,13L6.75,22.198
                c-0.238,0.237-0.238,0.624,0,0.861l1.006,1.006c0.238,0.237,0.624,0.237,0.861,0l10.635-10.634c0.237-0.238,0.237-0.625,0-0.862
                L8.617,1.935C8.379,1.697,7.994,1.697,7.756,1.935z"></path>
            </svg>
        </div>
        <input type="text" class="gna-search-input" placeholder="" id="gna_search_input">
        <div class="gna-search-icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" enable-background="new 0 0 26 26" xml:space="preserve">
                <path d="M23.849,22.147l-5.218-5.217c-0.097-0.099-0.225-0.15-0.365-0.15H17.7c1.354-1.568,2.174-3.609,2.174-5.844
                C19.874,6,15.874,2,10.937,2C6,2,2,6,2,10.937c0,4.938,4,8.938,8.937,8.938c2.234,0,4.275-0.82,5.844-2.174v0.565
                c0,0.141,0.058,0.269,0.15,0.365l5.217,5.218c0.2,0.201,0.527,0.201,0.73,0l0.971-0.971C24.05,22.675,24.05,22.348,23.849,22.147z
                 M10.937,17.812c-3.798,0-6.875-3.076-6.875-6.875c0-3.798,3.077-6.875,6.875-6.875c3.799,0,6.875,3.077,6.875,6.875
                C17.812,14.735,14.735,17.812,10.937,17.812z"></path>
            </svg>
        </div>
    </div>

    <div class="gna-notifications" id="gna_notifications">

        <!-- <div class="gna-notification">
            <div class="gna-notification-inner">
                <span class="gna-notification-is-read ripple"></span>
                <div class="gna-notification-avatar">
                    <img src="../assets/img/icons/man.png" class="w-100 h-100 img-thumbnail" alt="">
                </div>
                <div class="gna-notification-content">
                    <div class="mb-2 gna-notification-content-message">لقد تم تغيير كلمة المرور الخاص بحسابك</div>
                    <div class="gna-notification-content-timestamp">
                        Jul 23 2021 at 09:15 AM
                    </div>
                </div>
            </div>
        </div> -->

    </div>

</div>