<span id="select_content_template_template" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label37 %></label>
    <input type="text" class="input-text input-text-outline mb-2 border-bottom-forced" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>" id="select_content_template_template_search_input">
    <select name="" class="input-text" id="select_content_template_template_center_select">
        
    </select>

</span>

<script>

    $(async function()
    {
        var eventsReceiverId = `<%- eventsReceiverId %>`
        var clinicId = `*`
        var type = `<%- type %>`

        var select_content_template_template = $('#select_content_template_template')
        var select_content_template_template_search_input = select_content_template_template.find('#select_content_template_template_search_input')
        var select_content_template_template_center_select = select_content_template_template.find('#select_content_template_template_center_select')

        // search
        detectTypingEnd(select_content_template_template_search_input, () =>
        {
            select_content_template_template_displayAll()
        }, 500)
        // select_content_template_template_search_input.on('keyup', select_content_template_template_displayAll)

        //
        select_content_template_template_center_select.off('change').on('change', async e =>
        {
            var val = select_content_template_template_center_select.find(':selected').val()

            var res = await CONTENT_TEMPLATE_MODEL.show({
                id: select_content_template_template_center_select.find(':selected').val()
            })
            if ( res.code == 404 ) return

            // dispatch an event
            var event = new CustomEvent('content-template-selected', { 
                detail: { 
                    contentTemplate: {
                        id: res.data.id,
                        name: res.data.name,
                        body: res.data.body,
                    },
                    eventsReceiverId: eventsReceiverId 
                } 
            });

            document.dispatchEvent(event)
        })

        select_content_template_template_displayAll()
        async function select_content_template_template_displayAll()
        {
            var res = await CONTENT_TEMPLATE_MODEL.local_search({
                clinicId: clinicId,
                query: select_content_template_template_search_input.val(),
                type: type
            })
            select_content_template_template_center_select.html(`<option value="" selected disabled>${FUI_DISPLAY_LANG.views.pages.global.label37}</option>`)
            if ( res.code == 200 )
            {
                var data = res.data
                var html = ''

                $.each(data, (k,v) =>
                {
                    html += `<option value="${v.id}">${v.name}</option>`	
                })
                // add html
                select_content_template_template_center_select.append(html)
                res = await CONTENT_TEMPLATE_MODEL.show({
                    id: select_content_template_template_center_select.find(':selected').val()
                })
                if ( res.code == 404 ) return

                // dispatch an event
                var event = new CustomEvent('content-template-selected', { 
                    detail: { 
                        contentTemplate: {
                            id: res.data.id,
                            name: res.data.name,
                            body: res.data.body,
                        },
                        eventsReceiverId: eventsReceiverId 
                    } 
                });

                document.dispatchEvent(event)
            }
        }
    })

</script>