<span id="select_clinic_template" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label13 %></label>
    <select name="" class="input-text" id="clinic_select">
        
    </select>

</span>

<script>

    $(async function()
    {
        var select_clinic_template = $('#select_clinic_template')

        var clinic_select = select_clinic_template.find('#clinic_select')

        var res = await CLINIC_MODEL.search('')
        clinic_select.html(`<option value="" selected disabled>${FUI_DISPLAY_LANG.views.pages.global.label13}</option>`)
        if ( res.code == 200 )
        {
            var data = res.data
            var html = ''

            $.each(data, (k,v) =>
            {
                html += `<option value="${v.clinicId}">${v.clinicName}</option>`	
            })
            // add html
            clinic_select.append(html)
        }
    })

</script>