<div class="overlay flex flex-center" id="addSessionPatientsDialog" style="transition: none; z-index: 2000;">
	<div class="wrapper app-block overlay-content container block" id="wrapper01" style="max-width: 550px;">
		<div class="block-header">
			<span class="block-title-icon"></span>
			<h1 class="block-title">
				<%= UI_DISPLAY_LANG.views.dialogs.addSessionPatientsDialog.title %>
				<span class="text-muted" id="sessionName"></span>	
			</h1>
			<button class="btn-close block-btn-close" id="closeBTN"></button>
		</div>
		<div class="block-body">
			<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
				<img src="assets/img/utils/info.png" class="alert-icon" alt="">
				<div class="alert-text" id="text"></div>
			</div>
		</div>
		<div class="block-body" style="font-weight: 200;">
			<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.dialogs.addSessionPatientsDialog.label01 %></label>
			<div class="form-field-01 mb-3">
				<div class="form-field-icon-holder" id="searchBTN">
					<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
				</div>
				<div class="form-field-input-holder">
					<input type="text" id="searchInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.dialogs.addSessionPatientsDialog.ph01 %>">
				</div>
			</div>
			<div class="list-04" id="tableElement" style="overflow-y: auto;max-height: 500px;">
				<!--
				<div class="list-item d-flex flex-align-center">
					<div class="mx-2">
						<input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-patientid="${v.patientId}">
					</div>
					<div class="text-02 mx-4" style="flex-grow: 1;">
						اسم المريض
					</div>
				</div>
				-->
			</div>
		</div>
		<div class="block-footer">
			<div class="btn-group btn-group-sm">
				<div class="btn-group btn-group-sm">
					<button class="btn btn-primary" id="submitBTN" style="margin-right: .5em">
						<%= UI_DISPLAY_LANG.views.dialogs.addSessionPatientsDialog.btn01 %>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>