<div class="overlay flex flex-center" id="promptInputDialog" style="transition: none;  z-index: 2000;">
	<div class="wrapper app-block overlay-content container block" style="max-width: 450px;">
		<div class="block-header">
			<span class="block-title-icon"></span>
			<h1 class="block-title"></h1>
			<button class="btn-close block-btn-close" id="closeBTN"></button>
		</div>
		<div class="block-body" style="font-weight: 200;">
			<input type="text" class="input-text input-text-outline" id="promptDialogTextInput">
		</div>
		<div class="block-footer">
			<div class="btn-group btn-group-sm">
				<div class="btn-group btn-group-sm">
					<button class="btn btn-primary" id="okBTN" style="margin-right: .5em">
					
						<%= UI_DISPLAY_LANG.views.dialogs.promptInputDialog.btn01 %>
					</button>
					<button class="btn btn-light" id="cancelBTN">
					
						<%= UI_DISPLAY_LANG.views.dialogs.promptInputDialog.btn02 %>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>