<div class="container-fluid" id="onlineAppointementsWaitingApprovalContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
	</div>
	<div class="mt-3 WRAPPER" id="wrapper01">
		<div class="table-nav">

			<div class="row gx-2 gy-5">

                <div class="col-lg-12 col-md-12 col-sm-12" data-perm="delete_online_appointments">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN"><%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %></button>
				</div>

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                        dataIgnoreDefaultValue: true,
                    }) -%>
				</div>
                <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="appointments_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="appointments_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div> 

			</div>

		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="tableElement">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card hover-shadow" data-role="APT" data-aptid="" style="cursor: pointer;">
					<div class="card-body no-pointer">
						<div class="h5">قسم الحجامة</div>
						<div class="text-02">(4) جلسات</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
	<div class="mt-3 app-block WRAPPER" id="wrapper02" style="display: none;">
		<button class="btn btn-light btn-sm mb-4" data-role="BACK_TO_MAIN_UI_BTN" style="width:120px;">
			<i class="fas fa-arrow-left"></i>
		</button>
		<div id="pagination2" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="infoDiv">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="mb-5 py-2 border-bottom">
					<div class="card-body no-pointer">
						<div class="h5"></div>
						<div class="text-02"></div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<script>

$(function()
{

var page_container = $('#onlineAppointementsWaitingApprovalContainer');

var ERROR_BOX = page_container.find('#ERROR_BOX');
var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var pagination = page_container.find('#pagination');
var tableElement = page_container.find('#tableElement');

var search_input = page_container.find('#search_input');
var search_btn = page_container.find('#search_btn');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');

var appointments_total = page_container.find('#appointments_total');
var appointments_extra_data_list = page_container.find('#appointments_extra_data_list');

var infoDiv = page_container.find('#infoDiv');

var BACK_TO_MAIN_UI_BTN = page_container.find('[data-role="BACK_TO_MAIN_UI_BTN"]');

var wrapper01 = page_container.find('#wrapper01');
var wrapper02 = page_container.find('#wrapper02');

var AppointementObject = {
    apt_id: null
}

// delete selected
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(async c =>
    {
        deleteSelectedBTN.addClass('disabled')

        var res = await ONLINE_APPOINTMENT_MODEL.batchDelete(selectedRows());

        deleteSelectedBTN.removeClass('disabled')
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
        CreateToast('PS', res.message)
        //
        if ( res.code == 404 ) return
        
        search_input.trigger('keyup')
    });
});
// back to main ui
BACK_TO_MAIN_UI_BTN.off('click');
BACK_TO_MAIN_UI_BTN.on('click', e =>
{
    wrapper01.slideDown(200).siblings('.WRAPPER').slideUp(200);
});
// tableElement click
tableElement.on('click', async e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'APT' )
    {
        AppointementObject.apt_id = target.data('apt_id');
        displayInfo();
    }
    else if ( target.data('role') == 'ACCEPT' )
    {
        var parent = target.closest('[data-role="APT"]')
        goToPage('create-patients', {
            action_type: 'create',
            patientName: parent.data('client-name'),
            patientPhone: parent.data('client-phone'),
            patientAge: parent.data('client-age'),
            patientWilaya: parent.data('client-wilaya'),
            patientBaladia: parent.data('client-baladia'),
            patientGender: parent.data('client-gender'),
        })
        // PromptConfirmDialog().then(async c =>
        // {
        //     SectionLoader(tableElement);
        //     var response = await ONLINE_APPOINTMENT_MODEL.setAccepted({
        //         apt_id: target.data('apt_id'),
        //         status: ST_YES
        //     })
        //     SectionLoader(tableElement, '');
        //     if ( response.code == 404 )
        //     {
        //         ERROR_BOX.show(0).delay(7*1000).hide(0)
        //         .find('#text').text(response.message);
        //         return;
        //     }
        //     ERROR_BOX.show(0).delay(7*1000).hide(0)
        //     .find('#text').text(response.message);
        //     //
        //     displayAll({
        //         method_type: 'search',
        //         clinicId: USER_CONFIG.administration.clinicId,
        //         isAccepted: ST_NO,
        //         query: search_input.val()
        //     })
        // });
    }
});
// search
search_btn.on('click', e =>
{
    search_input.trigger('keyup')
    
});
detectTypingEnd(search_input, val =>
{
    displayAll({
        method_type: 'search',
        query: search_input.val(),
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
            isAccepted: ST_NO,
            orderBy: 'apt_id',
            order: 'asc',
        }
    })
})

// display all
search_input.trigger('keyup')
async function displayAll(params)
{
    // total
    appointments_total.text(0)

    appointments_extra_data_list.html('')
    SectionLoader(tableElement)
    // clear html
    tableElement.html('')
    if ( params.method_type == 'search' )
        var res = await ONLINE_APPOINTMENT_MODEL.search(params)

    SectionLoader(tableElement, '')

    if ( res.code == 404 ) return;

    var data = res.data;
    var html = '';
    var last_data = firstArrayElement(data)
    // total
    appointments_total.text(data.length)
    $.each(data, (k,v) =>
    {
        html += `<div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card hover-shadow h-100" data-role="APT" data-apt_id="${v.apt_id}" data-client-name="${v.client_name}" data-client-phone="${v.client_phone}" data-client-email="${v.client_email}" data-client-age="${v.client_age}" data-client-wilaya="${v.client_wilaya}" data-client-baladia="${v.client_baladia}" data-client-gender="${v.client_gender}" style="cursor: pointer;">
                        <div class="form-check border-bottom p-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault_${v.apt_id}" data-role="CHECK" data-apt_id="${v.apt_id}">
                            <label class="form-check-label" for="flexCheckDefault_${v.apt_id}">
                                ${FUI_DISPLAY_LANG.views.pages.global.select}
                            </label>
                        </div>
                        <div class="card-body no-pointer">
                            <div class="h6">${ strSnippet(v.client_name) }</div>
                            <div class="fw-400 fs-11">(${v.client_phone})</div>
                            <div class="text-02">${v.created_at}</div>
                            <div class="text-02 mt-2" data-perm="set_online_appointments_accepted">
                                <button class="btn btn-success btn-sm pointer" data-role="ACCEPT"  data-apt_id="${v.apt_id}">
                                    <i class="fas fa-check no-pointer"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>`;
    });
    // add html
    var options = {
        data: html.split('PAG_SEP'),
        resultsPerPage: 9
    };
    new SmoothPagination(pagination, tableElement, options);
    // extra data
    appointments_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.client_name}, </span>
            <span class="text-primary">${last_data.created_at}</span> 
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text39 }: </span>
            <span>${last_data.note} </span>
        </li>
    `)
}
// display info
async function displayInfo()
{
    // display loader
    SectionLoader(wrapper02);
    wrapper02.slideDown(200).siblings('.WRAPPER').slideUp(200);
    var response = await ONLINE_APPOINTMENT_MODEL.show(AppointementObject.apt_id);
    // hide loader
    SectionLoader(wrapper02, '');
    // clear html
    infoDiv.html('');
    if ( response.code == 404 )
        return;

    var data = response.data;
    var html = '';

    html = `<div class="col-lg-6 col-md-6 col-sm-12">
                <div class="border-bottom py-2 mb-3">
                    <div class="text-02">
                        ${data.client_name}
                    </div>
                    <div class="text-02">
                        ${data.client_phone}
                    </div>
                    <div class="text-02">
                        ${data.client_email}
                    </div>
                    <div class="text-02">
                        ${data.client_age}
                    </div>
                    <div class="text-02">
                        ${data.client_wilaya} ${ (data.client_baladia) ? '- '+data.client_baladia : '' }
                    </div>
                    <div class="text-02">
                        ${data.client_gender}
                    </div>
                </div>
                <div class="border-bottom py-4 mb-3">
                    <div class="text-02">
                        ${data.note}
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <span class="text-02">
                        ${data.created_at}
                    </span>
                </div>
            </div>`;
    
    infoDiv.html(html);
}
// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        if ( check.is(':checked') )
            list.push({ apt_id: check.data('apt_id') });
    }

    return list;
}

})

</script>