<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pagination.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/loaders.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/theme-basic.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/theme-glass.css">
	<link rel="stylesheet" type="text/css" class="MAIN_STYLESHEET" href="../assets/css/main_ar.css">
	<title>Deputy General Manager</title>
</head>
<body>




