<div class="container-fluid" id="unseenMembersContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
	</div>
	<div class="mt-3 WRAPPER" id="wrapper01">
		<div class="table-nav">
			<div class="row gx-2 gy-2">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-icon-holder" id="searchBTN">
							<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
						</div>
						<div class="form-field-input-holder">
							<input type="text" id="searchInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.unseen_members.ph01 %>">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 d-none">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.unseen_members.text01 %></div>
							<input type="date" id="filterDateInput" class="form-field-input" value="">
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN"><%= UI_DISPLAY_LANG.views.pages.unseen_members.btn01 %></button>
				</div>
			</div>
		</div>
		<div id="pagination1" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="tableElement1">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card hover-shadow" data-role="APT" data-aptid="" style="cursor: pointer;">
					<div class="card-body no-pointer">
						<div class="h5">قسم الحجامة</div>
						<div class="text-02">(4) جلسات</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
	<div class="mt-3 app-block WRAPPER" id="wrapper02" style="display: none;">
		<button class="btn btn-light btn-sm mb-4" data-role="BACK_TO_MAIN_UI_BTN" style="width:120px;">
			<i class="fas fa-arrow-left"></i>
		</button>
		<div id="pagination2" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="infoDiv">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="mb-5 py-2 border-bottom">
					<div class="card-body no-pointer">
						<div class="h5"></div>
						<div class="text-02"></div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<script>

$(function()
{

var page_container = $('#unseenMembersContainer');
if ( page_container[0] == undefined )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');
var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var searchBTN = page_container.find('#searchBTN');
var searchInput = page_container.find('#searchInput');
var pagination1 = page_container.find('#pagination1');
var tableElement1 = page_container.find('#tableElement1');

var infoDiv = page_container.find('#infoDiv');

var BACK_TO_MAIN_UI_BTN = page_container.find('[data-role="BACK_TO_MAIN_UI_BTN"]');

var wrapper01 = page_container.find('#wrapper01');
var wrapper02 = page_container.find('#wrapper02');

var MemberObject = {
    member_id: null
}

// delete selected
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(async c =>
    {
        // display loader
        SectionLoader(tableElement);
        var response = await ONLINE_APPOINTMENT_MODEL.batchDelete(selectedRows());
        // hide loader
        SectionLoader(tableElement, '');
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        //
        displayAll();
    });
});
// back to main ui
BACK_TO_MAIN_UI_BTN.off('click');
BACK_TO_MAIN_UI_BTN.on('click', e =>
{
    wrapper01.slideDown(200).siblings('.WRAPPER').slideUp(200);
});
// tableElement1 click
tableElement1.off('click');
tableElement1.on('click', async e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'MEMBER' )
    {
        MemberObject.member_id = target.data('member_id');
        displayInfo();
    }
    else if ( target.data('role') == 'SET_SEEN' )
    {
        PromptConfirmDialog().then(async c =>
        {
            SectionLoader(tableElement1);
            var response = await MEMBER_MODEL.setSeenByAdmin({
                member_id: target.data('member_id'),
                status: ST_YES
            })
            SectionLoader(tableElement1, '');
            if ( response.code == 404 )
            {
                ERROR_BOX.show(0).delay(7*1000).hide(0)
                .find('#text').text(response.message);
                return;
            }
            ERROR_BOX.show(0).delay(7*1000).hide(0)
            .find('#text').text(response.message);
            //
            displayAll();
        });
    }
});
// delete
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(c =>
    {
        // translate
        SectionLoader(tableElement1);
        MEMBER_MODEL.batchDelete( selectedRows() ).then(response =>
        {
            SectionLoader(tableElement1, '');
            if ( response.code == 404 )
            {
                ERROR_BOX.show(0).delay(7*1000).hide(0)
                .find('#text').text(response.message);
                return;
            }
            ERROR_BOX.show(0).delay(7*1000).hide(0)
            .find('#text').text(response.message);
            //
            displayAll();
        });
    });
});
// search
searchBTN.off('click');
searchBTN.on('click', e =>
{
    displayAll();
});
searchInput.off('keyup');
searchInput.on('keyup', e =>
{
    var SearchObject = {
        query: searchInput.val(),
        isSeenByAdmin: ST_NO
    };
    // display loader
    SectionLoader(wrapper01);
    MEMBER_MODEL.search(SearchObject).then(response =>
    {
        // hide loader
        SectionLoader(wrapper01, '');
        // clear html
        tableElement1.html('');
        if ( response.code == 404 )
            return;

        var data = response.data;
        var html = '';
        $.each(data, (k,v) =>
        {
            var selectCheck = 'أنقر للتحديد';
            if ( FUI_DISPLAY_LANG.lang == 'fr' )
            {
                selectCheck = 'Cliquez pour sélectionner';
            }
            html += `<div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card hover-shadow" data-role="MEMBER" data-member_id="${v.member_id}" style="cursor: pointer;">
                            <div class="form-check border-bottom p-1">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault_${v.member_id}" data-role="CHECK" data-member_id="${v.member_id}">
                                <label class="form-check-label" for="flexCheckDefault_${v.member_id}">
                                    ${selectCheck}
                                </label>
                            </div>
                            <div class="card-body no-pointer">
                                <div class="h6">
                                    ${v.member_name} 
                                    <span class="text-04 text-muted"> (${v.member_wilaya})</span>
                                </div>
                                <div class="text-02">${v.member_phone}</div>
                                <div class="text-02 mt-2">
                                    <button class="btn btn-success btn-sm pointer" data-role="SET_SEEN" data-member_id="${v.member_id}">
                                        <i class="fas fa-eye no-pointer"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>`;
        });
        // add html
        var options = {
            data: html.split('PAG_SEP'),
            resultsPerPage: 9
        };
        new SmoothPagination(pagination1, tableElement1, options);
    });
});
// display all
displayAll();
function displayAll()
{
    searchInput.trigger('keyup');
}
// display info
async function displayInfo()
{
    // display loader
    SectionLoader(wrapper02);
    wrapper02.slideDown(200).siblings('.WRAPPER').slideUp(200);
    var response = await MEMBER_MODEL.show(MemberObject.member_id);
    // hide loader
    SectionLoader(wrapper02, '');
    // clear html
    infoDiv.html('');
    if ( response.code == 404 )
        return;

    var data = response.data;
    var html = '';

    html = `<div class="col-lg-6 col-md-6 col-sm-12">
                <div class="border-bottom py-2 mb-3">
                    <div class="text-02">
                        ${data.member_name}
                    </div>
                    <div class="text-02">
                        ${data.member_phone}
                    </div>
                    <div class="text-02">
                        ${data.member_wilaya}
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <span class="text-02">
                        ${data.member_date}
                    </span>
                    <span class="text-02">
                        ${data.member_time}
                    </span>
                </div>
            </div>`;
    
    infoDiv.html(html);
}
// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement1.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        if ( check.is(':checked') )
            list.push({ member_id: check.data('member_id') });
    }

    return list;
}
    
})

</script>