<div class="container-fluid" id="dailyReports_page">
	<div class="wrapper d-none">
		<h1 class="title-medium"></h1>
	</div>
	<div class="mt-3 app-block" id="wrapper01">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<form action="#" id="create_form">
			<div class="mb-2">
				<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label4 %></label>
                <textarea name="" class="input-text input-text-outline" form.data.field="content" id="content_input" rows="10"></textarea>
			</div>
			<div class="mb-2">
				<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label7 %></label>
				<select name="" id="employee_types_select" class="select-01"></select>
				<div class="mt-2 p-3 border rounded d-none">

					<div class="content">
						<!-- <div class="d-inline-block py-2 px-3 rounded-pill border mx-2 box-shadow-inset">
							hello world
						</div> -->
					</div>
					
					<div class="text-locale-align-opposite">
						<button type="button" class="btn btn-light btn-sm rounded-circle clear-list-btn">
							<i class="fas fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="">
				<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
			</div>
		</form>
	</div>
</div>

<script>

$(function()
{

var page_container = $('#dailyReports_page')
var ERROR_BOX = page_container.find('#ERROR_BOX')

var create_form = page_container.find('#create_form')
var content_input = page_container.find('#content_input')
var employee_types_select = page_container.find('#employee_types_select')
var readers_list = employee_types_select.next()

var DailyReport = {
	id: sessionData(true).id
}

create_form.on('submit', async e =>
{
    e.preventDefault()
    var target = $(e.target)

    SectionLoader(create_form)
	// update
	if ( DailyReport.id )
	{
		// create
		var res = await DAILY_REPORT_MODEL.update({
			content: content_input.val(),
			id: DailyReport.id,
			readers: selectedReaders()
		})
		.catch(error =>
		{
			console.log(error)
			SectionLoader(create_form, '')
		})
		SectionLoader(create_form, '')

		if ( !res ) return

		ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
		target[0].reset()
		DailyReport.id = null
		return
	}
	// create
    var res = await DAILY_REPORT_MODEL.store({
        content: content_input.val(),
		readers: selectedReaders()
    })
    .catch(error =>
    {
        console.log(error)
        SectionLoader(create_form, '')
    })
    SectionLoader(create_form, '')

    if ( !res ) return

    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
    target[0].reset()
})
// select readers
employee_types_select.on('change', e =>
{
	var selected = employee_types_select.find(':selected')

	addReader({
		id: selected.val(),
		name: selected.text()
	})
	
})
// readers_list
readers_list.find('.clear-list-btn').on('click', e =>
{
	readers_list.addClass('d-none')
	readers_list.find('.content').html('')
})
// get info
displayInfo()
async function displayInfo()
{	
	if ( !DailyReport.id ) return

	var res = await DAILY_REPORT_MODEL.show({
		id: DailyReport.id
	})
	var data = res.data

	fillFormFields(create_form, data)
	// readers
	$.each(data.readers, (k,v) =>
	{
		addReader({
			id: v.reader.employee_type_id,
			name: (FUI_DISPLAY_LANG.lang == 'ar') ? v.reader.employee_type_name_ar : v.reader.employee_type_name_fr
		})
	})
}
// display employee types
listEmployeesTypes('all').then(res =>
{
	var data = res.data
	var html = ''

	$.each(data, (k,v) =>
	{
		var employee_type_name = (FUI_DISPLAY_LANG.lang == 'ar') ? v.employee_type_name_ar : v.employee_type_name_fr
		html += `<option value="${v.employee_type_id}">${employee_type_name}</option>`
	})

	employee_types_select.html(html)
})
// add reader
function addReader(options)
{
	// check if selected
	var readers = selectedReaders()
	var exists = false
	for (let i = 0; i < readers.length; i++) 
	{
		const id = readers[i];

		if ( id == options.id )
		{
			exists = true
			break
		}
	}
	if ( exists ) return
	employee_types_select.next().removeClass('d-none').find('.content')
	.append(`
		<div class="d-inline-block py-2 px-3 mb-2 rounded-pill border box-shadow-inset" data-role="row" data-id="${options.id}">
			${options.name}
		</div>
	`)
}
// selected readers
function selectedReaders()
{
	var list = []

	var items = readers_list.find('[data-role="row"]')

	for (let i = 0; i < items.length; i++) 
	{
		const item = $(items[i]);
		list.push(item.data('id'))
	}

	return list
}


})

</script>
