<div class="has-direction-locale px-3 py-3 h-100 position-relative overflow-x-hidden overflow-y-auto max-height-100">

    <form id="create_employee_type_dialog__create_form">

        <div class="mb-2">
            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label_name_fr %></label>
            <input type="text" class="input-text input-text-outline" name="employee_type_name_fr" id="create_employee_type_dialog__create_form__employee_type_name_fr_input">
        </div>

        <div class="mb-2">
            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label_name_ar %></label>
            <input type="text" class="input-text input-text-outline" name="employee_type_name_ar" id="create_employee_type_dialog__create_form__employee_type_name_ar_input">
        </div>

        <div class="mb-2">
            <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-target-center.template.ejs', {
                componentId: 'create_employee_type_dialog__create_form__select_target_center_component',
                selectId: 'create_employee_type_dialog__create_form__target_center_select',
                name: 'employee_type_target_center',
            }) -%>
        </div>

        <div class="mt-4">
            <input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
        </div>

    </form>

</div>