<div class="has-direction-locale px-3 py-3 h-100 position-relative overflow-x-hidden overflow-y-auto max-height-100">

    <form id="create_department_dialog__form">

        <div class="mb-2">
            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label1 %></label>
            <input type="text" class="input-text input-text-outline" id="create_department_dialog__form__name_input">
        </div>

        <div class="mb-2">
            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label24 %></label>
            <textarea class="input-text input-text-outline" rows="4" id="create_department_dialog__form__description_input"></textarea>
        </div>

        <div class="mb-2">
            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label28 %></label>
            <input type="number" step="any" class="input-text input-text-outline" id="create_department_dialog__form__price_input">
        </div>

        <div class="">
            <button type="submit" class="btn btn-success d-block w-100 rounded-0">
                <%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>
            </button>
        </div>

    </form>

</div>