<div class="center-client-invoice-print A5_PRINT has-direction-rtl printable_invoice">

    <div class="container main-container">

        <div class="invoice-header">

            <div class="container position-relative has-direction-ltr center-logo-container">

                <div class="row gx-0 gy-4 mb-3">
        
                    <div class="col-2 logo-left" style="margin-right: 1em;">
                        <div class="d-flex is-align-items-center is-justify-content-center h-100">
                            <img src="../assets/img/logo/logo-2.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col logo-right has-text-centered">
                        <p class="invoice-title-1">مركز د.عون</p>
                        <p class="invoice-title-2">للعناية الجسدية</p>
                        <p class="invoice-title-3">Centre Dr.Aoun</p>
                        <p class="invoice-title-4">pour les soins Corporels</p>
                    </div>
        
                </div>

                <h3 class="invoice-center-name has-text-centered" id="center_name">اسم المركز</h3>
        
            </div>

            <div class="invoice-sep"></div>

            <div class="row gx-4 gy-5">

                <div class="col-4">

                    <h6 class="invoice-label mb-2">
                        <span>رقم الفاتورة: </span>
                        <span contenteditable="" id="invoice_number" class="invoice-text d-block">xxxxxxx</span>
                    </h6>

                    <h6 class="invoice-label">
                        <span>التاريخ: </span>
                        <span contenteditable="" id="invoice_date" class="invoice-text d-block">xxxx-xx-xx</span>
                    </h6>

                </div>

                <div class="col">

                    <div class="invoice-client-box">

                        <h6 class="invoice-label mb-3">
                            <span>الزبون: </span>
                        </h6>

                        <p class="m-0 invoice-client-name" id="client_name">اسم الزبون</p>

                    </div>

                </div>

            </div>

        </div>

        <div class="invoice-body">

            <!-- invoice-table -->
            <table class="w-100 mb-4" id="invoice_products_table">

                <thead>
                    <tr>
                        <th class="has-text-right"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td class="has-text-right">منتج 1</td>
                        <td>2080</td>
                        <td>300.00</td>
                        <td>624,000.00</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <b>المجموع</b>
                        </td>
                        <td colspan="2">
                            624,000.00
                        </td>
                    </tr> -->
                </tbody>

            </table>

            <h6 class="invoice-label-2 mb-2">
                <span>عدد المواد: </span>
                <span contenteditable="" id="invoice_total_items" class="invoice-text-2">x</span>
            </h6>

            <h6 class="invoice-label-2">
                <span>كمية المواد: </span>
                <span contenteditable="" id="invoice_total_items_quantity" class="invoice-text-2">x</span>
            </h6>

            <div class="" id="how_to_use_products_wrapper">

                <h6 class="h6 mb-3 mt-5">طريقة استعمال المواد:</h6>

                <ol id="how_to_use_products_list" class="has-direction-rtl">

                </ol>

            </div>

        </div>

    </div>

</div>