<div class="certificate-print certificate-landscape has-direction-ltr">

    <div class="container has-text-centered pt-5" style="max-width: 500px;">

        <div class="row gx-0 gy-4 is-justify-content-center">

            <div class="col-2 logo-left">
                <div class="d-flex is-align-items-center is-justify-content-center h-100">
                    <img src="../assets/img/logo/logo-2.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-5 logo-right">
                <p class="cert-title-1">مركز د.عون</p>
                <p class="cert-title-2">للعناية الجسدية</p>
                <p class="cert-title-3">Centre Dr.Aoun</p>
                <p class="cert-title-4">pour les soins Corporels</p>
            </div>

        </div>

        <div class="mt-3">
            <h1 class="cert-big-title-1" id="certificate_name" contenteditable="">Certificat  Personnalise</h1>
        </div>

    </div>

    <div class="container mt-5 has-text-left px-4 position-relative" style="z-index: 5;max-width: 800px;">

        <div class="m-0" contenteditable="" id="certificate_body" style="font-size: 18px;">
            Je, soussigné Dr.Aoun Docteur pour les soins corporels en médecine, certifie que l'examen de
            M/Mme  ............................................................. Date de naissance : ..............................   Age: ..............................
            Certificat établi à : ............................................................. 
            Date: ..............................
        </div>

    </div>

    <div class="cert-stamp">
        <img src="../assets/img/utils/holool-stamp.png" id="center_stamp" alt="">
    </div>

    <div class="cert-signature" contenteditable="">
        Signature du Médecin
    </div>

    <div class="shape-1">
        <img src="../assets/img/shapes/shape-5.png" alt="">
    </div>

</div>