<div class="customer-invoice-print has-direction-ltr has-text-left position-relative">

    <div class="cip-logo">
        <img src="../assets/img/logo/logo.png" alt="">
    </div>

    <div class="cip-section-1 has-text-centered mt-4">

        <div class="cip-heading mb-2 fs-30">
            شركة الأصل للصناعة الغذائية
        </div>

        <div class="fs-20 fw-200">
            <div class="cip-heading-2">
                SARL au capital de: <span contenteditable="">20000000,00</span>
            </div>
            <div class="cip-heading-2">
                RC n°: <span contenteditable="">16/00-1050374B22</span>
            </div>
        </div>

    </div>

    <div class="cip-section-2 mt-5 px-4">

        <div class="row">

            <div class="col-md-6">

                <div class="mb-3">
                    <span class="fw-500 fs-18">FACTURE N°:</span> <span contenteditable="">235/001</span>
                </div>

                <div class="mb-3">
                    <span class="fw-500 fs-18">N° client:</span> <span contenteditable="">C005</span>
                </div>

                <div class="mb-3">
                    <span class="fw-500 fs-18">Reglement:</span> <span contenteditable="" id="payment_method">paiement a terme</span>
                </div>

                <div class="">
                    <span class="fw-500 fs-18">Date: Alger,</span> <span contenteditable="">09/058/2023</span>
                </div>

            </div>

            <div class="col-md-6">

                <div class="cip-box p-3">

                    <div class="mb-3">
                        <span class="fw-500 fs-18">Client:</span> <span class="fw-500 fs-18" contenteditable="" id="client_name">/</span>
                    </div>

                    <div class="mb-3">
                        <span class="fw-500 fs-18">Adresse:</span> <span contenteditable="" id="client_address">/</span>
                    </div>

                    <div class="mb-3">
                        <span class="fw-500 fs-18">NIF:</span> <span contenteditable="" id="client_NIF">/</span>
                    </div>

                    <div class="">
                        <span class="fw-500 fs-18">N: RC:</span> <span contenteditable="" id="client_RC">/</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="cip-section-3 mt-5 px-4">

        <table class="cip-table fs-18" id="items_table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Code</th>
                    <th>Libéllé</th>
                    <th>Qnt</th>
                    <th>Unité</th>
                    <th>P.U.HT</th>
                    <th>P.T.HT</th>
                    <th>EMB</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>01</td>
                    <td>LC-005</td>
                    <td>Fénouil coupé</td>
                    <td>30</td>
                    <td>90 kg</td>
                    <td>19. 00</td>
                    <td>5 130 0.00</td>
                    <td>BB</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>LC-005</td>
                    <td>Fénouil coupé</td>
                    <td>30</td>
                    <td>90 kg</td>
                    <td>19. 00</td>
                    <td>5 130 0.00</td>
                    <td>BB</td>
                </tr> -->
            </tbody>
        </table>

    </div>

    <div class="cip-section-4 mt-5 px-4">

        <div class="row">

            <div class="col-md-6 d-flex align-items-end">

                <div class="cip-box p-3">

                    <div class="mb-3">
                        <span class="fw-500 fs-18">Arrétée la présente facture à la somme de:</span>
                    </div>

                    <div class="">
                        <span class="fw-400 fs-18" id="WORDS_TOTAL_TTC">soiscante quinze mille cent quatre vingt quatre dinars et vingt centimes</span>
                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="cip-box p-3">

                    <div class="mb-3">
                        <span class="fw-500 fs-18">Total HT Brut:</span> <span class="fw-500 fs-18" contenteditable="" id="TOTAL_HT_BRUT">6 318 0.00</span>
                    </div>

                    <div class="mb-3">
                        <span class="fw-500 fs-18">Remise 0%:</span> <span contenteditable="" id="remise">00.00</span>
                    </div>

                    <div class="mb-3">
                        <span class="fw-500 fs-18">Total HT Net:</span> <span contenteditable="" id="TOTAL_HT_NET">6 318 0.00</span>
                    </div>

                    <div class="mb-3">
                        <span class="fw-500 fs-18">TVA 19%:</span> <span contenteditable="" id="TVA">1 200 4.20</span>
                    </div>

                    <div class="">
                        <span class="fw-500 fs-18">Total TTC:</span> <span contenteditable="" id="TOTAL_TTC">7 518 4.20</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="cip-section-4 mt-5 px-4">

        <div class="row">

            <div class="col-md-6"></div>
            <div class="col-md-6">

                <div class="has-text-centered">

                    <div class="">
                        <span class="fw-500 fs-20">Signature:</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>