<div class="employee-card-print has-direction-ltr">

    <div class="shape-1">
        <img src="../assets/img/shapes/shape-6.png" alt="">
    </div>

    <div class="container position-relative" style="max-width: 342px;z-index: 5;margin-top: 2.5em;">

        <div class="row gx-0 gy-4">

            <div class="col-2 logo-left">
                <div class="d-flex is-align-items-center is-justify-content-center h-100">
                    <img src="../assets/img/logo/logo-white.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col logo-right">
                <p class="emp-card-title-1">مركز د.عون</p>
                <p class="emp-card-title-2">للعناية الجسدية</p>
                <p class="emp-card-title-3">Centre Dr.Aoun</p>
                <p class="emp-card-title-4">pour les soins Corporels</p>
            </div>

        </div>

    </div>

    <div class="container position-relative" style="max-width: 342px;z-index: 5;margin-top: -62px;">
    
        <div class="employee-avatar" >

            <img src="" alt="" id="employee_avatar">

        </div>
        
    </div>

    <div class="container has-direction-rtl" style="max-width: 342px;z-index: 5;margin-top: 6.5em;">
    
        <h1 class="employee-name" id="employee_name">عــــون عون</h1>
        <h1 class="employee-job" id="employee_job">طبيب</h1>
        
    </div>

    <div class="container has-direction-rtl" style="z-index: 5;margin-top: 4em;">
    
        <ul class="list-unstyled employee-info-list has-text-centered">
            <li>
                <span class="icon-stacked">
                    <i class="fas fa-phone"></i>
                </span>
                <span id="employee_phone">0662.41.71.41</span>
            </li>
            <li>
                <span class="icon-stacked">
                    <i class="fas fa-envelope"></i>
                </span>
                <span id="employee_email">xxxxxx@gmail.com</span>
            </li>
        </ul>
        
    </div>

    <div class="shape-2">
        <img src="../assets/img/shapes/shape-7.png" alt="">
    </div>

</div>