<div class="patient-card-print has-direction-ltr">

    <div class="shape-1">
        <img src="../assets/img/shapes/shape-3.svg" alt="">
    </div>

    <div class="mb-4 has-text-centered patient-card-head">
        <h1 class="patient-card-title-1">Carte Patient</h1>
    </div>

    <div class="patient-card-body has-text-left">

        <div class="mb-4">
            <h1 class="patient-card-title-1" id="patient_name">Assil Aoun</h1>
        </div>

        <ul class="list-unstyled patient-info-list">
            <li>
                <span class="patient-card-text-1">Id: <span id="patient_id" contenteditable=""></span> </span>
            </li>
            <li>
                <span class="patient-card-text-1">Mot de passe: <span id="patient_password" contenteditable=""></span> </span>
            </li>
            <li>
                <span class="patient-card-text-1">Numéro téléphone: <span id="patient_phone" contenteditable=""></span> </span>
            </li>
            <li>
                <span class="patient-card-text-1">Date de naissance: <span id="patient_birth_date" contenteditable=""></span> </span>
            </li>
            <li>
                <span class="patient-card-text-1">Centre: <span id="patient_center_name" contenteditable=""></span> </span>
            </li>
        </ul>

        <div class="has-text-centered patient-qrcode">
            <img src="" id="patient_qrcode" alt="">
        </div>

    </div>

    <div class="shape-2">
        <img src="../assets/img/shapes/shape-4.svg" alt="">
    </div>

</div>