<div class="prescription-print">

    <img src="../assets/img/shapes/shape-1.svg" class="shape-1 d-none" alt="">

    <div class="container main-wrapper py-5 h-100 position-relative">

        <div class="presc-header has-direction-ltr">

            <div class="container has-text-centered">

                <div class="container" style="max-width: 290px;">

                    <div class="mb-3 row gx-0 gy-4">

                        <div class="col-2 logo-left">
                            <div class="d-flex is-align-items-center is-justify-content-center h-100">
                                <img src="../assets/img/logo/logo-2.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col logo-right">
                            <p class="presc-title-1">مركز د.عون</p>
                            <p class="presc-title-2">للعناية الجسدية</p>
                            <p class="presc-title-3">Centre Dr.Aoun</p>
                            <p class="presc-title-4">pour les soins Corporels</p>
                        </div>

                    </div>

                </div>

                <p class="presc-text-3 mt-2">Suivi du Régime Alimentaire</p>

                <h1 class="presc-title">Ordonnance</h1>
                <p class="presc-text-1">Le: <span id="presc_date" contenteditable=""></span></p>

            </div>

            <!-- <div class="row gx-4 gy-5">

                <div class="col-lg-6 col-md-6 has-text-centered header-left">

                    <div class="container" style="max-width: 379px;">

                        <div class="mb-3 row gx-0 gy-4">

                            <div class="col-2 logo-left">
                                <div class="d-flex is-align-items-center is-justify-content-center h-100">
                                    <img src="../assets/img/logo/logo-2.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col logo-right">
                                <p class="presc-title-1">مركز د.عون</p>
                                <p class="presc-title-2">للعناية الجسدية</p>
                                <p class="presc-title-3">Centre Dr.Aoun</p>
                                <p class="presc-title-4">pour les soins Corporels</p>
                            </div>

                        </div>

                    </div>

                    <div style="padding-left:36px;">
                        <p class="presc-text-1">Le: <span id="presc_date" contenteditable=""></span></p>

                        <h1 class="presc-title">وصفــــة</h1>
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 has-direction-rtl header-right">  

                    <div class="position-relative has-text-centered" style="z-index: 5;">

                        <h1 class="presc-text-2">خدماتنـــــا</h1>
                        <p class="presc-text-3">برنامج غذائي - ميزان احترافي - متابعة الوزن</p>
                        
                        <div class="container p-0 mt-3">

                            <div class="row gx-4 gy-5 is-justify-content-center">

                                <div class="col-3 has-text-right" style="width: 30%;">

                                    <ul class="presc-list">
                                        <li>شمع الهوبي</li>
                                        <li>الفوطة النارية</li>
                                        <li>الحجامة</li>
                                    </ul>

                                </div>
                                <div class="col-3 has-text-right">

                                    <ul class="presc-list">
                                        <li>التجميل</li>
                                        <li>الإبر الصينيـة</li>
                                        <li>دود العــلق</li>
                                    </ul>

                                </div>
                                <div class="col-3 has-text-right">

                                    <ul class="presc-list">
                                        <li>التدليك</li>
                                        <li>التخسيس الكولومبي</li>
                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div> -->

        </div>

        <div class="presc-body position-relative" style="z-index: 5;">

            <div class="container" style="max-width: 860px;">

                <div class="presc-text-1 mb-5 has-text-centered has-direction-ltr d-flex justify-content-center" id="presc_patient_info">
                    <div>Nom et Prénom: <span id="patient_first" contenteditable=""></span></div>
                    <div class="width-18px"></div>
                    <div class="d-inline-block" style="vertical-align: middle; margin-right: 1em;">Age: <span id="patient_age" contenteditable=""></span></div>
                </div>

                <ul id="medicines_list" class="presc-medicines-list">

                </ul>

            </div>

        </div>

        <div class="presc-stamp">
            <img src="../assets/img/utils/holool-stamp.png" id="center_stamp" alt="">
        </div>

        <div class="presc-footer has-direction-rtl has-text-centered" style="z-index: 5;">

            <div class="container" style="max-width: 860px;">

                <ul class="list-unstyled presc-list">
                    <li class="presc-text-1">
                        <span class="icon-stacked"><i class="fas fa-map-marker-alt"></i></span>
                        <span>
                            الدار البيضاء - الجزائر العاصمة  /  حي جبل الجرف - تبسة  /  العالية -بسكرة  /  حي أولاد أحمـد - الوادي  /  بئر عاتر - تبسة
                        </span>
                    </li>
                    <li class="presc-text-1">
                        <span class="icon-stacked"><i class="fas fa-phone"></i></span>
                        <span>
                            0770.44.90.39
                        </span>
                    </li>
                    <li class="presc-text-1">
                        <span class="icon-stacked"><i class="fas fa-globe"></i></span>
                        <span>
                            docteur-aoun.com
                        </span>
                    </li>
                    <li class="presc-text-1">
                        <span class="icon-stacked">
                            <img src="../assets/img/icons/instagram.png" alt="">
                        </span>
                    </li>
                    <li class="presc-text-1">
                        <span class="icon-stacked">
                            <img src="../assets/img/icons/tik-tok.png" alt="">
                        </span>
                        <span>
                            Dr__aoun
                        </span>
                    </li>
                    <li class="presc-text-1">
                        <span class="icon-stacked">
                            <img src="../assets/img/icons/facebook.png" alt="">
                        </span>
                        <span>
                            مراكز الدكتور عون للعناية الجسـدية
                        </span>
                    </li>
                </ul>

            </div>

        </div>

        <img src="../assets/img/shapes/shape-2.svg" class="shape-2" alt="">

    </div>

</div>