<div class="weights-images-printable-page">

    <div class="printable-header px-4">

        <div class="row gx-4 gy-4 is-align-items-center">

            <div class="col">

                <h1 class="h3">
                    <span contenteditable id="header_date"></span>
                </h1>

            </div>
            <div class="col has-text-centered">

                <h1 class="h3" id="header_title_1">
                    بوجابر صلاح الدين
                </h1>

            </div>
            <div class="col has-text-left">

                <h1 class="h3 has-direction-ltr">
                    CN°: <span contenteditable></span>
                </h1>

            </div>

        </div>

    </div>

    <div class="printable-body">

        <div class="row gx-1 gy-4 has-text-centered is-justify-content-center" id="body_content">

            <!-- <div class="col-lg-2 col-md-4 img-col">

                <h6 class="h6">2023-03-04</h6>

                <img src="http:\/\/localhost\/holoolaz.com\/projects\/ClinicsAPI\/uploads\/Patients\/5110000\/Changed_Settings\/Docs\/doc_2023-03-04640303bdcf54d.jpeg" alt="" class="img-fluid">

            </div> -->
            
        </div>

    </div>

    <div class="printable-footer px-4">

        <div class="row gx-4 gy-4 is-align-items-center">

            <div class="col">

                <h1 class="h3 has-direction-ltr">
                    RDV: <span contenteditable></span>
                </h1>

            </div>
            <div class="col has-text-centered">

                <h1 class="h3">
                   معهد العناية الجسدية
                </h1>
                <h1 class="h2">
                   برنامج التغذية والتنحيف
                </h1>

            </div>
            <div class="col has-text-left has-direction-ltr">

                <h1 class="h3">
                    <span contenteditable>06.62.41.71.41/07.95.12.79.18</span>
                </h1>

            </div>

        </div>

    </div>

</div>