<div class="weights-images-report-print has-direction-ltr has-text-left A5_PRINT is-preview">

    <div class="weights-images-header">
        
        <ul class="list-unstyled list-h">
            
            <li class="wip-list-item">
                <span class="">ID: </span>
                <span contenteditable="" id="header_code"></span>
            </li>

            <li class="wip-list-item">
                <span class="">Nom / Prenom: </span>
                <span contenteditable="" id="header_bb"></span>
            </li>

            <li class="wip-list-item">
                <span class="">Date: </span>
                <span contenteditable="" id="header_date"></span>
            </li>

        </ul>

    </div>

    <img src="../assets/img/logo/logo-3.png" class="weights-images-logo" alt="">

    <div class="weights-images-body position-relative">

        <ul class="list-unstyled weights-images-images-list clearfix has-text-centered px-5" id="weight_images_list">
            <!-- <li>
                <div class="mb-2 fw-600">2023-06-19 18:14:25</div>
                <div class="">
                    <img src="../assets/img/1.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="mb-2 fw-600">2023-06-19 18:14:25</div>
                <div class="">
                    <img src="../assets/img/1.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="mb-2 fw-600">2023-06-19 18:14:25</div>
                <div class="">
                    <img src="../assets/img/1.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="mb-2 fw-600">2023-06-19 18:14:25</div>
                <div class="">
                    <img src="../assets/img/1.jpg" alt="">
                </div>
            </li> -->
        </ul>    

    </div>

    <div class="weight-images-footer">

        <img src="../assets/img/shapes/shape-8.svg" class="weights-images-footer-img" alt="">

        <div class="container position-relative" style="max-width: 1060px;">

            <div class="row">

                <div class="col-lg col-md">

                    <ul class="list-unstyled weights-images-list">
                        <li class="weights-images-list-text-1">
                            <span class="icon-stacked">
                                <img src="../assets/img/icons/tik-tok.png" alt="">
                            </span>
                            <span>
                                Dr__aoun
                            </span>
                        </li>
                        <li class="weights-images-list-text-1">
                            <span class="icon-stacked">
                                <img src="../assets/img/icons/facebook.png" alt="">
                            </span>
                            <span>
                                مراكز الدكتور عون للعناية الجسـدية
                            </span>
                        </li>
                        <li class="weights-images-list-text-1">
                            <span class="icon-stacked"><i class="fas fa-phone"></i></span>
                            <span>
                                0770.44.90.39
                            </span>
                        </li>
                        <li class="weights-images-list-text-1">
                            <span class="icon-stacked"><i class="fas fa-globe"></i></span>
                            <span>
                                Dr__aoun
                            </span>
                        </li>
                        <li class="weights-images-list-text-1">
                            <span class="icon-stacked">
                                <img src="../assets/img/icons/instagram.png" alt="">
                            </span>
                        </li>
                    </ul>

                </div>

                <!-- <div class="col-lg-3 col-md">

                    <ul class="list-unstyled clearfix">
                        <li class="d-inline-block float-left" style="width: 11%; margin-right: .5em;">
                            <img src="../assets/img/logo/logo-white.png" class="img-fluid" alt="">
                        </li>
                        <li class="d-inline-block float-left" style="width: 25%; margin-right: .5em;">
                            <p class="presc-title-1">مركز د.عون</p>
                        </li>
                        <li class="d-inline-block float-left" style="width: 34%;">
                            <p class="presc-title-1">للعناية الجسدية</p>
                        </li>
                    </ul>
    
                </div> -->

            </div>
            

        </div>

    </div>

</div>