/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*
{
	margin: 0;
	padding: 0;
}

.smooth-pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    padding: .5em 0;
}
.smooth-pagination-container
.sp-navmenu 
{
    list-style: none;
    width: 100%;
    border-radius: 4px;
    display: block;
    text-align: center;
}
.smooth-pagination-container
.sp-navmenu::after
{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	clear: both;
	overflow: hidden;
}
.smooth-pagination-container
.sp-navmenu .spnm-list-item
{
	display: inline-block;
}
.smooth-pagination-container
.sp-navmenu .spnm-list-item 
.spnmli-nav-link 
{
    display: block;
    padding: .5em;
    margin-right: 1px;
    color: #090131;
    text-shadow: 0px 0 1px transparent;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    transition: letter-spacing .3s ease-in-out, 
                text-shadow .5s ease-in-out,
                transform .1s ease-in-out;
}
.smooth-pagination-container
.sp-navmenu .spnm-list-item 
.spnmli-nav-link:last-of-type
{
	margin-right: 0;
}
.smooth-pagination-container
.sp-navmenu .spnm-list-item 
.spnmli-nav-link:hover {
    color: #0d0d0d;
    letter-spacing: 6px;
    text-shadow: 0px 19px 1px #c3c3c3;
    transform: scale(1.1);
}
.smooth-pagination-container
.spc-pagination-counter-div
{
	text-align: center;
	padding: 1em;
	background: #f2f2f2;
	border-radius: 4px;
}
.smooth-pagination-container
.spc-pagination-counter-div
.spcpc-counter-label
{
	font-size: 14px;
	color: #0d001a;
	text-shadow: 0 1px 1px #0d001a;
}
.smooth-pagination-container .results-to-show-select-wrapper
{
    margin-top: 1em;
    margin-bottom: 1em;
}
.smooth-pagination-container .results-to-show-select-wrapper
.results-to-show-select 
{
    padding: .5em 1em;
    border: 1px solid #dfdfdf;
    border-radius: 25px;
    color: #353535;
    outline: 0;
}
.smooth-pagination-container .results-to-show-select-wrapper
.results-to-show-select option
{
    color: #000000;
}
