@media print 
{
    .col-md-1, 
    .col-md-2, 
    .col-md-3, 
    .col-md-4, 
    .col-md-5, 
    .col-md-6, 
    .col-md-7, 
    .col-md-8, 
    .col-md-9, 
    .col-md-10, 
    .col-md-11, 
    .col-md-12 
    {
         float: left !important;
    }
    .col-md-12 {
         width: 100% !important;
    }
    .col-md-11 {
         width: 91.66666667% !important;
    }
    .col-md-10 {
         width: 83.33333333% !important;
    }
    .col-md-9 {
         width: 75% !important;
    }
    .col-md-8 {
         width: 66.66666667% !important;
    }
    .col-md-7 {
         width: 58.33333333% !important;
    }
    .col-md-6 {
         width: 50% !important;
    }
    .col-md-5 {
         width: 41.66666667% !important;
    }
    .col-md-4 {
         width: 33.33333333% !important;
    }
    .col-md-3 {
         width: 25% !important;
    }
    .col-md-2 {
         width: 16.66666667% !important;
    }
    .col-md-1 {
         width: 8.33333333% !important;
    }

    @page {
          /* size: landscape; */
          /* margin: -1cm; */
     }
}


.weights-images-report-printable-page
{
    margin: 1em 1em;
    border: 5px solid #000000;
    direction: rtl;
}
.weights-images-report-printable-page .printable-header
{
    border-bottom: 3px solid #000000;
}
.weights-images-report-printable-page .printable-body
{
    padding: 1em;
}
.weights-images-report-printable-page .printable-body
.img-col
{
    width: 14%;
}
.weights-images-report-printable-page .printable-footer
{
    border-top: 3px solid #000000;
}
.weights-images-report-printable-page .printable-footer
.footer-date
{
    font-size: 24px;
}
.weights-images-report-printable-page .printable-footer
.footer-title-1
{
    font-size: 25px;
}
.weights-images-report-printable-page .printable-footer
.footer-title-2
{
    font-size: 23px;
}
.weights-images-report-printable-page .printable-footer
.footer-phone
{
    font-size: 24px;
}

/* style="max-width: 420px;height: 595px;" */

.prescription-print
{
     font-family: 'Tajawal';
     background-color: #ffffff;
     position: relative;
     overflow: hidden;
     /* height: 825px; */
     width: 150mm;
     height: 216.5mm;
}
.prescription-print .presc-stamp 
{
     position: absolute;
     right: 3%;
     bottom: 10%;
}
.prescription-print .presc-stamp > img
{
     width: 150px;
}
.prescription-print .icon-stacked {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 20px;
     height: 20px;
     background: #00865D;
     color: #ffffff;
     -webkit-print-color-adjust: exact;
             print-color-adjust: exact;
     border-radius: 50%;
     margin: 0 0 0 10px;
     vertical-align: middle;
}
.prescription-print .icon-stacked img
{
     width: 100%;
     height: 100%;
}
/* .prescription-print .main-wrapper
{
     position: relative;
     overflow: hidden;
} */
.prescription-print .shape-1 {
     position: absolute;
     right: -61px;
     top: -84px;
     width: 63%;
     height: 388px;
     z-index: 1;
}
.prescription-print .shape-2 {
     position: absolute;
     left: -5px;
     bottom: -64px;
     width: 41%;
     /* height: 313px; */
     z-index: 1;
}
.prescription-print .presc-header
{
     padding-top: 1em;
}
.prescription-print .presc-header
.logo-left
{
     width: 38%;
}
.prescription-print .presc-header
.presc-title-1,
.prescription-print .presc-header
.presc-title-2
{
     font-weight: 700;
     color: #275CAB;
}
.prescription-print .presc-header
.presc-title-1
{
     font-size: 20px;
}
.prescription-print .presc-header
.presc-title-2
{
     font-size: 13px;
}
.prescription-print .presc-header
.presc-title-3,
.prescription-print .presc-header
.presc-title-4
{
     font-weight: 700;
     color: #15ACA3;
}
.prescription-print .presc-header
.presc-title-3
{
     font-size: 15px;
}
.prescription-print .presc-header
.presc-title-4
{
     font-size: 10px;
}
.prescription-print .presc-header
.presc-text-1 
{
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 15px;
     color: #464646;
}
.prescription-print .presc-header
.presc-title 
{
     font-style: normal;
     font-weight: 400;
     font-size: 34px;
     line-height: 53px;
     color: #18857D;
     margin-top: .3em;
}
.prescription-print .presc-header
.header-right 
{
     color: #ffffff;
     -webkit-print-color-adjust: exact;
             print-color-adjust: exact;
     position: relative;
}
.prescription-print .presc-header
.header-right .presc-text-2
{
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 31px;
}
.prescription-print .presc-header
.header-right .presc-text-3
{
     font-style: normal;
     font-weight: 400;
     font-size: 9px;
     line-height: 14px;
}
.prescription-print .presc-header
.header-right .presc-list > li
{
     font-style: normal;
     font-weight: 400;
     font-size: 9px;
     line-height: 14px;
     text-align: right;
}
.prescription-print .presc-body
{
     margin-top: 2em;
}
.prescription-print .presc-body
.presc-text-1
{
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 17px;
     color: #464646;
}
.prescription-print .presc-footer
{
     /* margin-top: 17.5em; */
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     padding-bottom: 1em;
}
.prescription-print .presc-footer
.presc-list > li
{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     vertical-align: middle;
     margin-left: .5em;
     margin-bottom: .3em;
}
.prescription-print .presc-footer
.presc-list > li:last-of-type
{
     margin-left: 0;
}
.prescription-print .presc-footer
.presc-text-1
{
     font-weight: 600;
     font-size: 9px;
}
.prescription-print .presc-medicines-list
{
     font-size: 15px;
     list-style: circle;
     list-style-position: inside;
}
.prescription-print .presc-medicines-list li
{
     margin-bottom: .5em;
}
.prescription-print .presc-medicines-list li:last-of-type
{
     padding-bottom: 0;
}
.prescription-print .medical-analysis-category-name
{
     font-size: 18px;
     font-weight:bold;
     margin-bottom:.5em;
}
.prescription-print .medical-analysis-name
{
     font-size: 15px;
}


.patient-card-print
{
     width: 420px;
     height: 825px;
     background: #ffffff;
     position: relative;
     -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
}
.patient-card-print .shape-1
{
     position: relative;
     top: 0;
     right: 0;
     width: 396px;
     height: 142px;
}
.patient-card-print .shape-1 img
{
     width: 100%;
}
.patient-card-print .shape-2
{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 396px;
     height: 187px;
}
.patient-card-print .shape-2 img
{
     width: 100%;
}
.patient-card-print .patient-card-head {
     width: 206px;
     background: #008C5D;
     border: 3px solid #FFFFFF;
     border-radius: 30px;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     z-index: 5;
     padding: 10px 0;
}
.patient-card-print .patient-card-head 
.patient-card-title-1
{
     font-size: 25px;
     color: #ffffff;
     font-weight: 600;
}
.patient-card-print .patient-card-body
{
     padding: 0 3em;
     position: relative;
     z-index: 5;
}
.patient-card-print .patient-card-body 
.patient-card-title-1
{
     font-size: 30px;
     color: #064884;
     font-weight: 600;
}
.patient-card-print .patient-card-body 
.patient-info-list > li
{
     margin-bottom: 13px;
     font-size: 19px;
}
.patient-card-print .patient-card-body 
.patient-info-list > li:last-of-type
{
     margin-bottom: 0;
}
.patient-card-print .patient-card-body 
.patient-info-list > li .patient-card-text-1
{
     font-weight: 500;
}
.patient-card-print .patient-card-body 
.patient-qrcode 
{
    width: 204px;
    height: 156px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to left, #064884, #008C5D) border-box;
    margin-top: 5em;
    border: 5px solid transparent;
    border-radius: 20px;
    overflow: hidden;
}
.patient-card-print .patient-card-body 
.patient-qrcode img
{
     width: 100%;
     height: 100%;
}



.certificate-print
{
     overflow: hidden;
     background: #ffffff;
     position: relative;
     -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
}
.certificate-print.certificate-landscape
{
     /* width: 825px;
     height: 595px; */
     /* width: 210mm;
     height: 297mm; */
     width: 299mm;
     height: 205.9mm;
}
.certificate-print.certificate-portrait
{
     /* width: 825px;
     height: 595px; */
     /* width: 210mm;
     height: 297mm; */
     width: 150mm;
     height: 206.5mm;
}
.certificate-print .shape-1
{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     /* clip-path: polygon(50% 3%, 100% 1%, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 1%); */
}
.certificate-print .shape-1 img
{
     width: 100%;
}
.certificate-print .logo-left
{
     width: 27%;
}
.certificate-print
.cert-title-1,
.certificate-print
.cert-title-2
{
     font-weight: 700;
     color: #275CAB;
}
.certificate-print
.cert-title-1
{
     font-size: 26px;
}
.certificate-print
.cert-title-2
{
     font-size: 17px;
}
.certificate-print
.cert-title-3,
.certificate-print
.cert-title-4
{
     font-weight: 700;
     color: #15ACA3;
}
.certificate-print
.cert-title-3
{
     font-size: 19px;
}
.certificate-print
.cert-title-4
{
     font-size: 13px;
}
.certificate-print .cert-big-title-1 {
     color: #26876E;
     font-weight: 600;
     font-size: 40px;
}
.certificate-print .cert-stamp {
     position: absolute;
     bottom: 15%;
     right: 3%;
     z-index: 2;
 }
.certificate-print .cert-stamp > img
{
     width: 150px;
}
.certificate-print .cert-signature {
     position: absolute;
     bottom: 11%;
     right: 5%;
     z-index: 2;
     font-weight: 400;
     font-size: 14px;
}


.employee-card-print
{
     width: 420px;
     height: 825px;
     background: #ffffff;
     position: relative;
     overflow: hidden;
     -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
}
.employee-card-print .shape-1
{
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
}
.employee-card-print .shape-1 img
{
     width: 100%;
}
.employee-card-print .shape-2 
{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
 }
.employee-card-print .shape-2 img
{
     width: 100%;
}
.employee-card-print
.logo-left
{
     width: 42%;
}
.employee-card-print .emp-card-title-1,
.employee-card-print .emp-card-title-2,
.employee-card-print .emp-card-title-3,
.employee-card-print .emp-card-title-4
{
     font-weight: 700;
     color: #ffffff;
}
.employee-card-print .emp-card-title-1
{
     font-size: 33px;
}
.employee-card-print .emp-card-title-2
{
     font-size: 22px;
}
.employee-card-print .emp-card-title-3
{
     font-size: 24px;
}
.employee-card-print .emp-card-title-4
{
     font-size: 15px;
}
.employee-card-print .employee-avatar 
{
     width: 163px;
     height: 163px;
     background: linear-gradient(#D9D9D9, #D9D9D9) padding-box,
               linear-gradient(to left, #48B860, #48B860) border-box;
     margin-top: 5em;
     border: 5px solid transparent;
     border-radius: 50%;
     overflow: hidden;
}
.employee-card-print .employee-avatar img
{
     width: 100%;
     height: 100%;
}
.employee-card-print .employee-name,
.employee-card-print .employee-job
{
     font-size: 28px;
     color: #000000;
}
.employee-card-print .employee-info-list > li
{
     display: inline-block;
     margin-left: .5em;
     font-size: 18px;
     font-weight: 500;
     color: #000000;
}
.employee-card-print .employee-info-list > li:last-of-type
{
     margin-left: 0;
}
.employee-card-print .employee-info-list 
.icon-stacked
{
     display: inline-flex;
     align-items: center;
     justify-content: center;
     vertical-align: middle;
     width: 30px;
     height: 30px;
     color: #ffffff;
     background: #00865D;
     border-radius: 50%;
}


.center-client-invoice-print.RECEIPT_7_5_CM_PRINT
{
     width: 7.5cm;
     background: #ffffff;
     overflow: hidden;
     -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .borderless
{
     border: none !important;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-center-name
{
     font-size: 27px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .main-container
{
     padding: 1em;
}
.center-client-invoice-print.A5_PRINT .center-logo-container
{
     max-width: 184px;
     z-index: 5;
     margin-top: 2.5em;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT
.logo-left
{
     width: 35%;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-1,
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-2,
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-3,
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-4
{
     font-weight: 700;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-1,
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-2
{
     color: #275CAB;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-3,
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-4
{
     color: #15ACA3;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-1
{
     font-size: 13px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-2
{
     font-size: 8px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-3
{
     font-size: 10px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-title-4
{
     font-size: 8px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-sep
{
     margin: 2em 0;
     background: #15ACA3;
     height: 1px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-label
{
     font-size: 12px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-label-2
{
     font-size: 16px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-text
{
     font-weight: 400;
     font-size: 12px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-text-2
{
     font-weight: 400;
     font-size: 16px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-client-box
{
     border: 1px solid #15ACA3;
     border-radius: 2px;
     padding: 10px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-client-name
{
     font-size: 15px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-header
{
     margin-bottom: 1em;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-table 
{
     width: 100%;
     font-size: 12px;
     text-align: center;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-table 
thead th 
{
     border: 1px solid #15ACA3;
     padding: 3px 5px;
}
.center-client-invoice-print.RECEIPT_7_5_CM_PRINT .invoice-table 
tbody td
{
     border: 1px solid #15ACA3;
     padding: 3px 5px;
}

.center-client-invoice-print.A5_PRINT
{
     width: 150mm;
     background: #ffffff;
     overflow: hidden;
     -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
}
.center-client-invoice-print.A5_PRINT .borderless
{
     border: none !important;
}
.center-client-invoice-print.A5_PRINT .invoice-center-name
{
     font-size: 27px;
}
.center-client-invoice-print.A5_PRINT .main-container
{
     padding: 1em;
}
.center-client-invoice-print.A5_PRINT .center-logo-container
{
     max-width: 340px;
     z-index: 5;
     margin-top: 2.5em;
}
.center-client-invoice-print.A5_PRINT
.logo-left
{
     width: 35%;
}
.center-client-invoice-print.A5_PRINT .invoice-title-1,
.center-client-invoice-print.A5_PRINT .invoice-title-2,
.center-client-invoice-print.A5_PRINT .invoice-title-3,
.center-client-invoice-print.A5_PRINT .invoice-title-4
{
     font-weight: 700;
}
.center-client-invoice-print.A5_PRINT .invoice-title-1,
.center-client-invoice-print.A5_PRINT .invoice-title-2
{
     color: #275CAB;
}
.center-client-invoice-print.A5_PRINT .invoice-title-3,
.center-client-invoice-print.A5_PRINT .invoice-title-4
{
     color: #15ACA3;
}
.center-client-invoice-print.A5_PRINT .invoice-title-1
{
     font-size: 25px;
}
.center-client-invoice-print.A5_PRINT .invoice-title-2
{
     font-size: 16px;
}
.center-client-invoice-print.A5_PRINT .invoice-title-3
{
     font-size: 17px;
}
.center-client-invoice-print.A5_PRINT .invoice-title-4
{
     font-size: 13px;
}
.center-client-invoice-print.A5_PRINT .invoice-sep
{
     margin: 2em 0;
     background: #15ACA3;
     height: 1px;
}
.center-client-invoice-print.A5_PRINT .invoice-label
{
     font-size: 18px;
}
.center-client-invoice-print.A5_PRINT .invoice-label-2
{
     font-size: 18px;
}
.center-client-invoice-print.A5_PRINT .invoice-text
{
     font-weight: 400;
     font-size: 16px;
}
.center-client-invoice-print.A5_PRINT .invoice-text-2
{
     font-weight: 400;
     font-size: 16px;
}
.center-client-invoice-print.A5_PRINT .invoice-client-box
{
     border: 1px solid #15ACA3;
     border-radius: 2px;
     padding: 10px;
     max-width: 200px;
}
.center-client-invoice-print.A5_PRINT .invoice-client-name
{
     font-size: 15px;
}
.center-client-invoice-print.A5_PRINT .invoice-header
{
     margin-bottom: 1em;
}
.center-client-invoice-print.A5_PRINT .invoice-table 
{
     width: 100%;
     font-size: 17px;
     text-align: center;
}
.center-client-invoice-print.A5_PRINT .invoice-table 
thead th 
{
     border: 1px solid #15ACA3;
     padding: 3px 5px;
}
.center-client-invoice-print.A5_PRINT .invoice-table 
tbody td
{
     border: 1px solid #15ACA3;
     padding: 3px 5px;
}


.weights-images-report-print {
     background-color: #ffffff;
     /* width: 299mm; */
     height: 210mm;
     overflow: hidden;
     position: relative;
     -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
}
.weights-images-report-print .weights-images-logo
{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
.weights-images-report-print .weights-images-header {
     padding: 0 2em;
     margin-top: 2em;
}
.weights-images-report-print .weights-images-header
ul .wip-list-item
{
     border: 1px solid #0095d4;
     padding: 5px 10px;
     flex: 1;
     margin-right: 20px;
     color: #0095D4;
}
.weights-images-report-print .weights-images-header
ul .wip-list-item:last-of-type
{
     margin-right: 0;
}
.weights-images-report-print .weights-images-body
{
     margin-top: 2em;
}
.weights-images-report-print .weights-images-body
.weights-images-images-list li
{
     float: left;
     width: 25%;
     margin-right: 0;
     margin-bottom: 10px;
}
.weights-images-report-print .weights-images-body
.weights-images-images-list li:last-of-type
{
     margin-right: 0;
}
.weights-images-report-print .weights-images-body
.weights-images-images-list li img
{
     max-width: 100%;
     height: 280px;
}
.weights-images-report-print .weight-images-footer
{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 27px;
}
.weights-images-report-print .weight-images-footer
.weights-images-footer-img
{
     position: absolute;
     bottom: -94px;
     left: 0;
     width: 100%;
}
.weights-images-report-print.is-preview .weight-images-footer
.weights-images-footer-img
{
     bottom: -169px;
}

.weights-images-report-print .weight-images-footer
.weights-images-list > li
{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     vertical-align: middle;
     margin-left: .5em;
     margin-bottom: .3em;
     color: #ffffff;
}
.weights-images-report-print .weight-images-footer
.weights-images-list > li:last-of-type
{
     margin-left: 0;
}
.weights-images-report-print .weight-images-footer
.weights-images-list-text-1
{
     font-weight: 600;
     font-size: 14px;
}
.weights-images-report-print .weight-images-footer 
.icon-stacked {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 20px;
     height: 20px;
     background: #00865D;
     color: #ffffff;
     -webkit-print-color-adjust: exact;
             print-color-adjust: exact;
     border-radius: 50%;
     margin: 0 10px 0 0;
     vertical-align: middle;
}
.weights-images-report-print .weight-images-footer 
.icon-stacked img
{
     width: 100%;
     height: 100%;
}
.weights-images-report-print .weight-images-footer
.presc-title-1,
.weights-images-report-print .weight-images-footer
.presc-title-2
{
     font-weight: 700;
     color: #ffffff;
}
.weights-images-report-print .weight-images-footer
.presc-title-1
{
     font-size: 11px;
}
.weights-images-report-print .weight-images-footer
.presc-title-2
{
     font-size: 11px;
}
.weights-images-report-print .weight-images-footer
.presc-title-3,
.weights-images-report-print .weight-images-footer
.presc-title-4
{
     font-weight: 700;
     color: #15ACA3;
}
.weights-images-report-print .weight-images-footer
.presc-title-3
{
     font-size: 15px;
}
.weights-images-report-print .weight-images-footer
.presc-title-4
{
     font-size: 10px;
}