


	<script type="text/javascript" id="GLOBALS_SCRIPT" src="../assets/js/include/Globals.js"></script>
	<script type="text/javascript" src="../assets/js/popper.min.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" id="PAGINATION" src="../assets/js/pagination.js"></script>
	<script type="text/javascript" src="../assets/js/include/Paginator.js"></script>
	<script type="text/javascript" src="../assets/swiper/js/swiper.js"></script>
	<script type="text/javascript" src="../assets/js/include/Classes.js"></script>
	<script type="text/javascript" src="../assets/js/include/Functions.js"></script>
	<script type="text/javascript" src="../assets/js/include/Dialogs.js"></script>
	<script type="text/javascript" src="assets/js/index.js"></script>
	<script src="./RingingBellPushNotificationsReceiver.js"></script>
	<script src="./MessagesPushNotificationsReceiver.js"></script>
	<script src="./GlobalNotificationsPushNotificationsReceiver.js"></script>
	<script src="./FundboxPushNotificationsReceiver.js"></script>
	<script src="./EmployeePrivilegePushNotificationsReceiver.js"></script>
	<script src="../assets/js/scripts.js"></script>
	<!-- Global Call -->
</body>
</html>