<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pagination.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/paginator.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/loaders.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/theme-basic.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/theme-glass.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/font.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/colors.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/utilities.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/controls.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/content-placeholder.css">
	<link rel="stylesheet" type="text/css" class="PRINT_STYLESHEET" href="../assets/css/print.css">
	<link rel="stylesheet" type="text/css" class="MAIN_STYLESHEET" href="../assets/css/main_ar.css">
	<link rel="stylesheet" type="text/css"  href="../assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../assets/swiper/css/swiper.css"/>
	<link rel="stylesheet" href="../assets/cropper/css/cropper.css" />
	<link rel="stylesheet" type="text/css" href="../assets/css/override.css">
	<title>Chief Center</title>
	<script src="../assets/js/include/JQuery.js"></script>
	<script type="text/javascript" src="../assets/js/jquery-ui.min.js"></script>
	<script src="../assets/js/include/AppModules.js"></script>
	<script src="../assets/js/include/HttpRequest.js"></script>
	<script src="../assets/js/include/Models.js"></script>
	<script src="../assets/js/include/UseModels.js"></script>
	<script src="../assets/js/include/UseWorkers.js"></script>
</head>
<body>



