<div class="welcome-container text-center flex flex-center" id="welcomePageContainer">
    <div class="app-block">
        <div class="welcome-logo">
            <img src="" id="welcomeIcon" alt="">
        </div>
        <div>
            <h1 class="welcome-title">
                <%= UI_DISPLAY_LANG.views.pages.welcome.text01 %>
                <span id="username" class="username"></span>
            </h1>    
        </div>
        <p class="welcome-desc">
            <%= UI_DISPLAY_LANG.views.pages.welcome.text02 %>
        </p>
    </div>
</div>