

:root{
    --color-primary: #1C4484;
    --color-secondary: #001B71;
    --color-1: #00C4FF;
    --color-2: #00ABC0;
    --color-3: #1C3083;
    --color-4: #00B1A0;
    --color-5: #35C7F3;
    --color-6: #00B1A0;
    --color-7: #23B2E3;
    --color-8: #5BB877;
    --color-9: #99DCD5;
    --color-10: #3F3F3F;
    --color-11: #EFECEC;
    --color-12: #504F4F;
    --color-13: #F3F3F3;
    --color-14:#C9EFEB;
    --color-15:#6AD7CC;
    --color-16: #E3E3E3;
    --color-17: #7D7D7D;
    --color-18: #2D2C2C;
    --color-19:#285DA9;
    --color-20: #00A9C1;
    --color-21: #1F8667;
    --color-22: #F3F6FC;
    --color-23: #30A3E9;
    --color-24: #107EC8;
    --color-25: #EBEBEB;
    --color-26: #f7f7f7;
    --color-27: #b41351;
    --color-28: #9cd6ad52;
    --color-29: #f1f4f9;
    --color-30: #e4e9f0;
    --color-31: #fdfdfd;
    --color-32: #ffe8ea;
    --color-33: #fff6e2;
    --color-34: #e0ffe9;
}

.bg-color-rgba-1
{
    background-color: rgba(255,255,255,.9) !important;
}
.bg-color-primary
{
    background-color: var(--color-primary) !important;
}
.bg-color-secondary
{
    background-color: var(--color-secondary) !important;
}
.bg-color-1
{
    background-color: var(--color-1) !important;
}
.bg-color-2
{
    background-color: var(--color-2) !important;
}
.bg-color-3
{
    background-color: var(--color-3) !important;
}
.bg-color-4
{
    background-color: var(--color-4) !important;
}
.bg-color-5
{
    background-color: var(--color-5) !important;
}
.bg-color-6
{
    background-color: var(--color-6) !important;
}
.bg-color-7
{
    background-color: var(--color-7) !important;
}
.bg-color-8
{
    background-color: var(--color-8) !important;
}
.bg-color-9
{
    background-color: var(--color-9) !important;
}
.bg-color-10
{
    background-color: var(--color-10) !important;
}
.bg-color-11
{
    background-color: var(--color-11) !important;
}
.bg-color-12
{
    background-color: var(--color-12) !important;
}
.bg-color-13
{
    background-color: var(--color-13) !important;
}
.bg-color-14
{
    background-color: var(--color-14) !important;
}
.bg-color-15
{
    background-color: var(--color-15) !important;
}
.bg-color-16
{
    background-color: var(--color-16) !important;
}
.bg-color-17
{
    background-color: var(--color-17) !important;
}
.bg-color-18
{
    background-color: var(--color-18) !important;
}
.bg-color-22
{
    background-color: var(--color-22) !important;
}
.bg-color-25
{
    background-color: var(--color-25) !important;
}
.bg-color-26
{
    background-color: var(--color-26) !important;
}
.bg-color-27
{
    background-color: var(--color-27) !important;
}
.bg-color-28
{
    background-color: var(--color-28) !important;
}
.bg-color-29
{
    background-color: var(--color-29) !important;
}
.bg-color-30
{
    background-color: var(--color-30) !important;
}
.bg-color-31
{
    background-color: var(--color-31) !important;
}
.bg-color-32
{
    background-color: var(--color-32) !important;
}
.bg-color-33
{
    background-color: var(--color-33) !important;
}
.bg-color-34
{
    background-color: var(--color-34) !important;
}

.text-color-primary
{
    color: var(--color-primary) !important;
}
.text-color-secondary
{
    color: var(--color-secondary) !important;
}
.text-color-3
{
    color: var(--color-3) !important;
}
.text-color-4
{
    color: var(--color-4) !important;
}
.text-color-6
{
    color: var(--color-6) !important;
}
.text-color-7
{
    color: var(--color-7) !important;
}
.text-color-8
{
    color: var(--color-8) !important;
}
.text-color-9
{
    color: var(--color-9) !important;
}
.text-color-10
{
    color: var(--color-10) !important;
}
.text-color-11
{
    color: var(--color-11) !important;
}
.text-color-12
{
    color: var(--color-12) !important;
}
.text-color-13
{
    color: var(--color-13) !important;
}
.text-color-14
{
    color: var(--color-14) !important;
}
.text-color-15
{
    color: var(--color-15) !important;
}
.text-color-16
{
    color: var(--color-16) !important;
}
.text-color-17
{
    color: var(--color-17) !important;
}
.text-color-18
{
    color: var(--color-18) !important;
}
.text-color-19
{
    color: var(--color-19) !important;
}
.text-color-20
{
    color: var(--color-20) !important;
}
.text-color-21
{
    color: var(--color-21) !important;
}
.text-color-22
{
    color: var(--color-22) !important;
}
.text-color-23
{
    color: var(--color-23) !important;
}
.text-color-24
{
    color: var(--color-24) !important;
}
.text-color-25
{
    color: var(--color-25) !important;
}
.text-color-26
{
    color: var(--color-26) !important;
}
.text-color-27
{
    color: var(--color-27) !important;
}
