.rcrop-outer-wrapper{
    opacity: .75 !important;
}
.rcrop-outer{
    background: #000
}
.rcrop-croparea-inner{
    border: 1px dashed #fff !important;
}

.rcrop-handler-corner{
    width:12px !important;
    height: 12px !important;
    background: none !important;
    border : 0 solid #51aeff !important;
}
.rcrop-handler-top-left{
    border-top-width: 4px !important;
    border-left-width: 4px !important;
    top:-2px !important;
    left:-2px
}
.rcrop-handler-top-right{
    border-top-width: 4px !important;
    border-right-width: 4px !important;
    top:-2px !important;
    right:-2px
}
.rcrop-handler-bottom-right{
    border-bottom-width: 4px !important;
    border-right-width: 4px !important;
    bottom:-2px !important;
    right:-2px
}
.rcrop-handler-bottom-left{
    border-bottom-width: 4px !important;
    border-left-width: 4px !important;
    bottom:-2px !important;
    left:-2px
}
.rcrop-handler-border{
    display: none !important;
}

.clayfy-touch-device.clayfy-handler{
    background: none !important;
    border : 0 solid #51aeff !important;
    border-bottom-width: 6px !important;
    border-right-width: 6px !important;
}


.swiper-button-prev,
.swiper-button-next
{
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 2px 0px #303030;
}
.swiper-button-prev::after,
.swiper-button-next::after
{
    font-size: 20px;
    color: #000000;
}

.cropper-container span
{
    pointer-events: auto !important;
}

.ui-icon, .ui-widget-content .ui-icon
{
    background-image: none !important;
}

.form-check-input[type=checkbox] 
{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.form-switch .form-check-input {
    width: 2em;
    height: 15px;
    border-radius: 2em;
}

.form-check-label {
    vertical-align: middle;
    font-size: 16px;
}

.btn-success {
    color: #fff;
    background-color: #81b55a;
    border-color: #8ebb46;
}

.btn-success:hover {
    color: #fff;
    background-color: #6ea766;
    border-color: #8ebb46;
}

.btn-danger {
    color: #000;
    background-color: #ff83bc38;
    border-color: #ff89cb;
}

.btn-danger:hover {
    color: #000;
    background-color: #ffa2eb;
    border-color: #f7a7e2;
}

.btn-primary {
    color: #fff;
    background-color: #726ae5;
    border-color: #b6cff5;
}

.btn-primary:hover {
    color: #000;
    background-color: #aeb4f9;
    border-color: #9aadc9;
}