

	<script type="text/javascript" id="GLOBALS_SCRIPT" src="../assets/js/include/Globals.js"></script>
	<script type="text/javascript" src="../assets/js/popper.min.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" id="PAGINATION" src="../assets/js/pagination_ar.js"></script>
	<script type="text/javascript" src="../assets/js/include/Classes.js"></script>
	<script type="text/javascript" src="../assets/js/include/Functions.js"></script>
	<script type="text/javascript" src="../assets/js/include/Dialogs.js"></script>
	<script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>