<div class="top-progress-bar-container" id="topProgressBarContainer">
	<button class="btn-close" id="closeBTN"></button>
	<h1 class="title-medium mb-0" id="titleElement">
		
	</h1>
	<p class="small text-center" id="versionElement"></p>
	<div class="progress mt-1" id="progressElement">
		<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
	</div>
</div>